.load-error-banner {
  position: fixed;
  align-items: start;
  z-index: 5000;
  width: 100%;
  padding: 12px 30px;

  /* Keeps icons vertically aligned with the *first row* of text */
  .ant-alert-icon,
  .ant-alert-close-icon,
  .ant-alert-message div {
    min-height: 24px;
  }

  .ant-btn-text {
    margin-left: 15px;
  }

  .ant-alert-message div:first-child {
    color: var(--color-text-section);
    font-weight: 600;
  }
}
