{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@dr.pogodin/babel-preset-svgr", { "icon": true }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [["replace-import-extension", { "extMapping": { ".svg": ".js" } }]]
}
