{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@dr.pogodin/babel-preset-svgr", { "icon": true }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "es": {
      // in npm run build, .svgs will be translated to js as React components; update imports to match
      "plugins": [["replace-import-extension", { "extMapping": { ".svg": ".js" } }]]
    }
  }
}
