/*!************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/assets/styles/typography.css ***!
  \************************************************************************************************************************************************/
#cell-viewer body{
    font-family:"Overpass-Light";
  }
  #cell-viewer h1,
  #cell-viewer h2,
  #cell-viewer h3,
  #cell-viewer h4{
    font-family:"Merriweather Sans";
  }
  #cell-viewer p{
    font-weight:300;
    font-size:1rem;
  }

/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./public/App.css ***!
  \************************************************************************************************************/
html,
body{
  height:100%;
  width:100%;
  font-family:'Overpass'
}

.cell-viewer-app{
  width:100vw;
}
/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/nouislider/distribute/nouislider.css ***!
  \***********************************************************************************************************************************************/
/*! nouislider - 14.7.0 - 4/6/2021 */
.noUi-target,
.noUi-target *{
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-user-select:none;
  -ms-touch-action:none;
  touch-action:none;
  -ms-user-select:none;
  -moz-user-select:none;
  user-select:none;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.noUi-target{
  position:relative;
}
.noUi-base,
.noUi-connects{
  width:100%;
  height:100%;
  position:relative;
  z-index:1;
}
.noUi-connects{
  overflow:hidden;
  z-index:0;
}
.noUi-connect,
.noUi-origin{
  will-change:transform;
  position:absolute;
  z-index:1;
  top:0;
  right:0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -webkit-transform-style:preserve-3d;
  transform-origin:0 0;
  transform-style:flat;
}
.noUi-connect{
  height:100%;
  width:100%;
}
.noUi-origin{
  height:10%;
  width:10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{
  left:0;
  right:auto;
}
.noUi-vertical .noUi-origin{
  width:0;
}
.noUi-horizontal .noUi-origin{
  height:0;
}
.noUi-handle{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
.noUi-touch-area{
  height:100%;
  width:100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin{
  -webkit-transition:transform 0.3s;
  transition:transform 0.3s;
}
.noUi-state-drag *{
  cursor:inherit !important;
}
.noUi-horizontal{
  height:18px;
}
.noUi-horizontal .noUi-handle{
  width:34px;
  height:28px;
  right:-17px;
  top:-6px;
}
.noUi-vertical{
  width:18px;
}
.noUi-vertical .noUi-handle{
  width:28px;
  height:34px;
  right:-6px;
  top:-17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{
  left:-17px;
  right:auto;
}
.noUi-target{
  background:#FAFAFA;
  border-radius:4px;
  border:1px solid #D3D3D3;
  box-shadow:inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects{
  border-radius:3px;
}
.noUi-connect{
  background:#3FB8AF;
}
.noUi-draggable{
  cursor:ew-resize;
}
.noUi-vertical .noUi-draggable{
  cursor:ns-resize;
}
.noUi-handle{
  border:1px solid #D9D9D9;
  border-radius:3px;
  background:#FFF;
  cursor:default;
  box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active{
  box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
.noUi-handle:before,
.noUi-handle:after{
  content:"";
  display:block;
  position:absolute;
  height:14px;
  width:1px;
  background:#E8E7E6;
  left:14px;
  top:6px;
}
.noUi-handle:after{
  left:17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after{
  width:14px;
  height:1px;
  left:6px;
  top:14px;
}
.noUi-vertical .noUi-handle:after{
  top:17px;
}
[disabled] .noUi-connect{
  background:#B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle{
  cursor:not-allowed;
}
.noUi-pips,
.noUi-pips *{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.noUi-pips{
  position:absolute;
  color:#999;
}
.noUi-value{
  position:absolute;
  white-space:nowrap;
  text-align:center;
}
.noUi-value-sub{
  color:#ccc;
  font-size:10px;
}
.noUi-marker{
  position:absolute;
  background:#CCC;
}
.noUi-marker-sub{
  background:#AAA;
}
.noUi-marker-large{
  background:#AAA;
}
.noUi-pips-horizontal{
  padding:10px 0;
  height:80px;
  top:100%;
  left:0;
  width:100%;
}
.noUi-value-horizontal{
  -webkit-transform:translate(-50%, 50%);
  transform:translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal{
  -webkit-transform:translate(50%, 50%);
  transform:translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker{
  margin-left:-1px;
  width:2px;
  height:5px;
}
.noUi-marker-horizontal.noUi-marker-sub{
  height:10px;
}
.noUi-marker-horizontal.noUi-marker-large{
  height:15px;
}
.noUi-pips-vertical{
  padding:0 10px;
  height:100%;
  top:0;
  left:100%;
}
.noUi-value-vertical{
  -webkit-transform:translate(0, -50%);
  transform:translate(0, -50%);
  padding-left:25px;
}
.noUi-rtl .noUi-value-vertical{
  -webkit-transform:translate(0, 50%);
  transform:translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker{
  width:5px;
  height:2px;
  margin-top:-1px;
}
.noUi-marker-vertical.noUi-marker-sub{
  width:10px;
}
.noUi-marker-vertical.noUi-marker-large{
  width:15px;
}
.noUi-tooltip{
  display:block;
  position:absolute;
  border:1px solid #D9D9D9;
  border-radius:3px;
  background:#fff;
  color:#000;
  padding:5px;
  text-align:center;
  white-space:nowrap;
}
.noUi-horizontal .noUi-tooltip{
  -webkit-transform:translate(-50%, 0);
  transform:translate(-50%, 0);
  left:50%;
  bottom:120%;
}
.noUi-vertical .noUi-tooltip{
  -webkit-transform:translate(0, -50%);
  transform:translate(0, -50%);
  top:50%;
  right:120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip{
  -webkit-transform:translate(50%, 0);
  transform:translate(50%, 0);
  left:auto;
  bottom:10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip{
  -webkit-transform:translate(0, -18px);
  transform:translate(0, -18px);
  top:auto;
  right:28px;
}

/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/TfEditor/styles.css ***!
  \**************************************************************************************************************************************************/
.row-card :host{
    display:block;
  }
  .row-card .bar rect{
    fill:#6e6e6e;
  }
  .row-card .aligned{
    margin:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:center;
  }
  .row-card .tick text{
    fill:#a0a0a0;
  }
  .row-card .axis path,
  .row-card .axis line{
    stroke:#6e6e6e;
  }
  .row-card button::-moz-focus-inner{
    border:none;
    padding:1px 2px;
  }
  .row-card input[type="color"]{
    border:1px solid;
    width:44px;
    height:23px;
    margin-left:2px;
    margin-right:2px;
    padding:1px 2px;
    cursor:pointer;
  }
  .row-card rect{
    fill:none;
    pointer-events:all;
  }
  .row-card .line{
    stroke:#aeacae;
    stroke-width:1.5px;
  }
  .row-card circle{
    fill-opacity:0.6;
    cursor:move;
    stroke:#aeacae;
    stroke-width:1.5px;
  }
  .row-card .selected{
    fill:"white";
    stroke:"white";
  }

/*!***********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/ChannelsWidgetRow/styles.css ***!
  \***********************************************************************************************************************************************************/
.channel-rows-list .ant-list-items{
    padding:0;
  }
  .channel-rows-list .row-card{
    min-height:72px;
    padding:24px 0 12px 0;
    border-bottom:1px solid #6e6e6e;
  }
  .channel-rows-list .row-card .ant-list-item-content{
      order:3;
    }
  .channel-rows-list .row-card .ant-list-item-action{
      order:1;
    }
  .channel-rows-list .row-card .ant-row-flex{
      margin-top:1em;
    }
  .channel-rows-list .row-card.ant-list-item{
    flex-flow:row wrap;
  }
  .channel-rows-list .row-card.controls-closed{
    padding:12px 0 12px 0;
  }
  .channel-rows-list .row-card.controls-closed .ant-list-item-action{
      order:3;
    }
  .channel-rows-list .row-card.controls-closed .ant-list-item-content{
      order:2;
    }

/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/ChannelsWidget/styles.css ***!
  \********************************************************************************************************************************************************/
.cell-viewer-app .ant-layout-sider-zero-width-trigger{
    z-index:2000;
    background-color:#4b4b4b;
  }
  .cell-viewer-app .ant-layout-sider-zero-width-trigger:hover{
    background-color:#aeacae;
  }
.control-panel .channel-rows-list .ant-card-head{
      margin-bottom:0;
      border-bottom:1px solid #6e6e6e;
    }
.control-panel .channel-rows-list .ant-card-head .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner{
          background-color:#6e6e6e;
        }
.control-panel .channel-rows-list .ant-checkbox:hover .ant-checkbox-inner{
      border-color:white;
    }
.control-panel .channel-rows-list .ant-checkbox-wrapper:hover .ant-checkbox-inner{
      border-color:white;
    }
.control-panel .channel-rows-list .ant-card-inner{
      border-bottom:1px solid #6e6e6e;
    }
.control-panel .channel-rows-list .ant-collapse-content-box{
      padding:0 16px 0 16px;
    }
.control-panel .channel-rows-list .ant-collapse-content-active{
      border-bottom:1px solid #6e6e6e;
    }
.control-panel .channel-rows-list .ant-card-body{
      padding:0;
    }
.control-panel .channel-rows-list .ant-collapse-item .ant-collapse-header{
        height:0;
      }
.control-panel .channel-rows-list .ant-card-extra label{
        font-size:12px;
      }
.control-panel .channel-rows-list .ant-card-head-title{
      margin-left:20px;
    }
.control-panel .channel-rows-list .ant-collapse > .ant-collapse-item > .ant-collapse-header > .ant-collapse-arrow{
      transform:translateY(-260%);
      position:absolute;
      left:16px;
    }
.control-panel .channel-rows-list .ant-collapse > .ant-collapse-item > .ant-collapse-header[aria-expanded="true"] .anticon-right svg{
      transform:rotate(90deg);
    }
.control-panel .channel-rows-list .ant-collapse > .ant-collapse-item > .ant-collapse-header > .ant-collapse-arrow svg{
      transform:rotate(0);
      transition:transform 0.24s;
    }
.control-panel .channel-rows-list .ant-collapse > .ant-collapse-item{
      border-bottom:none;
    }
.control-panel .channel-rows-list .ant-collapse-content{
      overflow:visible;
    }
.control-panel .channel-rows-list .global-volume-controls .ant-collapse-content-box{
        padding:16px 24px;
      }
.control-panel .channel-rows-list .color-customizer .ant-collapse-content-box{
        padding:0 16px;
      }

/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/MetadataViewer/styles.css ***!
  \********************************************************************************************************************************************************/
.viewer-metadata-table{
  width:100%;
  table-layout:fixed;
}

  .viewer-metadata-table tbody{
    padding:10px;
  }

  .viewer-metadata-table.metadata-top-level{
    border-bottom:1px solid #6e6e6e;
  }

  .viewer-metadata-table.metadata-top-level > tbody > tr.metadata-row-collapse-title:first-child{
      border-top:none;
    }

  .viewer-metadata-table tr:nth-child(odd):not(.metadata-row-collapse-content){
      background-color:#3a3a3a;
    }

  .viewer-metadata-table tr.metadata-row-collapse-title{
      color:white;
      background-color:#4b4b4b !important;
    }

  .viewer-metadata-table tr.metadata-row-collapse-title:not(.metadata-collapse-collapsed) > td{
        padding-bottom:5px;
      }

  .viewer-metadata-table tr.metadata-row-collapse-content.metadata-collapse-collapsed{
      visibility:collapse;
      height:0px;
      display:none;
    }

  .viewer-metadata-table tr tr.metadata-row-collapse-title,
    .viewer-metadata-table tr.metadata-row-collapse-content + tr{
      border-top:1px solid #6e6e6e;
    }

  .viewer-metadata-table td{
    padding:6px 0;
    overflow-wrap:break-word;
  }

  .viewer-metadata-table td .metadata-collapse-caret{
      cursor:pointer;
      padding-left:16px;
      padding-right:10px;
    }

  .viewer-metadata-table td.metadata-key{
      padding-left:16px;
    }

  .viewer-metadata-table td.metadata-value{
      text-align:right;
      padding-left:20px;
      padding-right:16px;
    }

  .viewer-metadata-table td:last-child{
      padding-right:8px;
    }

  .viewer-metadata-table td.metadata-collapse-content{
      padding:0;
      padding-left:24px;
    }

  .viewer-metadata-table td i{
      transition:transform 0.1s linear;
    }

/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/ControlPanel/styles.css ***!
  \******************************************************************************************************************************************************/
.control-panel-col-container{
  display:flex;
  height:100%;
}

  .control-panel-col-container .control-panel-tab-col,
  .control-panel-col-container .control-panel-col{
    border-right:1px solid #6e6e6e;
  }

  .control-panel-col-container .control-panel-tab-col{
    text-align:center;
  }

  .control-panel-col-container .control-panel-tab-col .ant-btn{
      margin-top:12px;
      background-color:transparent;
      border:1px solid transparent;
      color:#bfbfbf;
    }

  .control-panel-col-container .control-panel-tab-col .ant-btn:not([disabled]).btn-tabactive{
          color:white;
          background-color:#4b4b4b;
          border-color:#6e6e6e;
        }

  .control-panel-col-container .control-panel-tab-col .ant-btn:not([disabled]):hover,
        .control-panel-col-container .control-panel-tab-col .ant-btn:not([disabled]):focus-visible{
          color:white;
          background-color:#8950d9;
          border-color:#6e6e6e;
        }

  .control-panel-col-container .control-panel-tab-col .ant-btn[ant-click-animating-without-extra-node="true"]::after{
        box-shadow:none !important;
        background-color:#222;
      }

  .control-panel-col-container .control-panel-tab-col .btn-collapse svg{
        transform:rotate(180deg);
        transition:transform 0.2s linear;
      }

  .control-panel-col-container .control-panel-tab-col .btn-collapse.btn-collapse-collapsed svg{
        transform:rotate(0deg);
      }

  .control-panel-col-container .control-panel-tab-col .tab-divider{
      width:70%;
      margin:12px 15% 0;
      border-bottom:1px solid #6e6e6e;
    }

  .control-panel-col-container .control-panel-col{
    overflow-y:scroll;
    scrollbar-width:none;
  }

  .control-panel-col-container .control-panel-col::-webkit-scrollbar{
      display:none;
    }

  .control-panel-col-container .control-panel-col .control-panel-title{
      margin:16px;
      font-size:1.4em;
    }
.control-panel{
  flex:1 auto;
  order:1;
  max-width:540px;
}
.control-panel .ant-card-head{
    border-radius:0;
    border-bottom:none;
    padding:0 16px;
  }
.control-panel > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title{
    padding-top:0;
  }
.control-panel .ant-card-body{
    padding:0;
  }
.control-panel .ant-collapse-item .ant-collapse-header{
    padding:0 !important;
  }
.control-panel .ant-checkbox-inner{
    background-color:transparent;
  }
.control-panel .ant-checkbox-indeterminate .ant-checkbox-inner{
    background-color:transparent;
  }
.control-panel .ant-checkbox-indeterminate .ant-checkbox-inner :after{
      background-color:white;
    }
.control-panel .channel-rows-list{
    border-top:1px solid #6e6e6e;
  }
.control-panel .ant-collapse{
    background-color:#313131;
  }
.control-panel .ant-collapse-content{
    border-radius:0 !important;
    border-bottom-color:#6e6e6e;
  }
.control-panel .channel-rows-list > .ant-card:last-child .ant-collapse-content{
    border-bottom:none;
  }
.control-panel .noUi-handle{
    box-shadow:none;
    cursor:pointer;
    pointer-events:inherit;
    background-color:#a0a0a0;
    top:0px;
    left:100%;
    z-index:1;
    width:8px;
    height:8px;
    border:none;
    border-radius:0;
    transform:translate(-50%, calc(-100% - 4px));
  }
.control-panel .noUi-handle::before{
    display:none;
    content:none;
  }
.control-panel .noUi-handle::after{
    background-color:inherit;
    width:8px;
    height:8px;
    top:0;
    left:0;
    transform:matrix(0.5, 0.5, -0.5, 0.5, 0, 4);
    content:"";
  }
.control-panel .noUi-touch-area{
    padding:8px;
    margin-top:-4px;
    margin-left:-4px;
  }
.control-panel .noUi-connect{
    background-color:#a0a0a0;
  }
.control-panel .noUi-target.noUi-ltr.noUi-horizontal{
    background-color:#a0a0a0;
  }
.control-panel .noUi-horizontal{
    height:2px;
  }
.control-panel .noUi-target{
    border:none;
    box-shadow:none;
  }
.control-panel .noUi-tooltip{
    border:none;
    background-color:transparent;
    color:inherit;
    font-size:10px;
    top:calc(100% + 3px);
  }

/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/Toolbar/styles.css ***!
  \*************************************************************************************************************************************************/
.viewer-toolbar-container{
  position:absolute;
  width:100%;
  z-index:250;
}
.viewer-toolbar-container .viewer-toolbar-scroll-left,
  .viewer-toolbar-container .viewer-toolbar-scroll-right{
    height:100%;
    width:18px;
    justify-content:center;
    align-items:center;
    background-color:rgba(75, 75, 75, 0.85);
    display:none;
    position:absolute;
    top:0;
    z-index:255;
    transition:color 0.3s;
  }
.viewer-toolbar-container .viewer-toolbar-scroll-left:hover, .viewer-toolbar-container .viewer-toolbar-scroll-right:hover{
      color:white;
    }
.viewer-toolbar-container .viewer-toolbar-scroll-left{
    left:0;
  }
.viewer-toolbar-container .viewer-toolbar-scroll-right{
    right:0;
  }
.viewer-toolbar-container.viewer-toolbar-scroll{
    border-bottom:1px solid #6e6e6e;
  }
.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar-scroll-left,
    .viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar-scroll-right{
      display:flex;
    }
.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar{
      display:static;
      text-align:left;
      white-space:nowrap;

      overflow-x:scroll;
      scrollbar-width:none;
    }
.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar::-webkit-scrollbar{
        display:none;
      }
.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar .viewer-toolbar-left{
        position:static;
        margin-left:15px;
      }
.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar .viewer-toolbar-right{
        position:static;
        margin-right:15px;
      }
.viewer-toolbar{
  padding:12px;
  text-align:center;
}
.viewer-toolbar .viewer-toolbar-left,
  .viewer-toolbar .viewer-toolbar-right{
    position:absolute;
  }
.viewer-toolbar .viewer-toolbar-left:not(:empty), .viewer-toolbar .viewer-toolbar-right:not(:empty){
      padding:0 12px;
    }
.viewer-toolbar .viewer-toolbar-left{
    left:0;
  }
.viewer-toolbar .viewer-toolbar-right{
    right:0;
  }
.viewer-toolbar .viewer-toolbar-group:not(:last-child){
    margin-right:14px;
  }
.viewer-toolbar .viewer-toolbar-group > :not(:last-child){
    margin-right:6px;
  }
.viewer-toolbar .ant-btn-icon-only{
    padding-bottom:1px;
  }
.viewer-toolbar .btn-borderless{
    background-color:transparent;
    border-color:transparent;
    color:#bfbfbf;
  }
.viewer-toolbar .btn-borderless > .ant-btn[disabled]{
      background-color:transparent;
      border-color:transparent;
      color:#bfbfbf;
      padding:0;
    }
.viewer-toolbar .btn-borderless.btn-active,
    .viewer-toolbar .btn-borderless:hover{
      outline:none;
      box-shadow:none;
      color:white;
      border-color:#aeacae;
    }
.viewer-toolbar .btn-borderless.btn-active{
      background-color:#4b4b4b;
    }
.viewer-toolbar .btn-borderless:hover{
      background-color:#8950d9;
    }
.viewer-toolbar .btn-borderless:focus-within:not(.btn-active):not(:hover){
      background-color:transparent;
      border-color:transparent;
      color:#bfbfbf;
    }
.viewer-toolbar .btn-borderless[ant-click-animating-without-extra-node="true"]::after{
      box-shadow:none !important;
      background-color:#222222;
    }
.viewer-toolbar span.btn-borderless{
    background-color:transparent !important;
    border-color:transparent !important;
  }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled){
    background-color:black;
    box-shadow:-1px 0px 0px 0px transparent;
    transition-property:color, background-color, border-color, box-shadow;
  }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled).ant-radio-button-wrapper-checked,
    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):hover{
      outline:none;
      color:white;
      border-color:#aeacae;
    }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled).ant-radio-button-wrapper-checked:not(:first-child), .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):hover:not(:first-child){
        box-shadow:-1px 0px 0px 0px #aeacae;
      }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled).ant-radio-button-wrapper-checked{
      background-color:#4b4b4b;
    }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):hover{
      background-color:#8950d9;
      color:white;
    }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within{
      outline:none;
    }
.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled)::before{
      content:none;
    }
.viewer-toolbar .select-render-setting{
    min-width:110px;
  }
.viewer-toolbar .ant-select-selection{
    border-color:#aeacae !important;
    box-shadow:none !important;
    background-color:black;
  }
.viewer-toolbar .ant-select-selection:hover{
      background-color:#8950d9;
      color:white;
    }
.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-active{
    transition-property:background-color, color;
  }
.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-disabled,
  .viewer-toolbar-dropdown .ant-select-dropdown-menu-item-disabled:hover{
    color:#6e6e6e;
  }
.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled){
    background-color:transparent;
    color:white;
  }
.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled).ant-select-dropdown-menu-item-selected{
      background-color:#4b4b4b;
    }
.viewer-toolbar-dropdown .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled){
    background-color:#f6f0ff;
    color:#4b4b4b;
  }
@supports selector(:has(:focus-visible)){
    .viewer-toolbar .ant-select-selection:focus-visible,
    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible),
    .viewer-toolbar .btn-borderless:focus-visible{
      background-color:#8950d9 !important;
      color:white !important;
    }

    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible){
      outline:none;
      border-color:#aeacae;
    }

      .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible):not(:first-child){
        box-shadow:-1px 0px 0px 0px #aeacae;
      }
}
@supports not (selector(:has(:focus-visible))){
    .viewer-toolbar .ant-select-selection:focus,
    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within,
    .viewer-toolbar .btn-borderless:focus{
      background-color:#8950d9 !important;
      color:white !important;
    }

    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within{
      outline:none;
      border-color:#aeacae;
    }

      .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within:not(:first-child){
        box-shadow:-1px 0px 0px 0px #aeacae;
      }
}

/*!*************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/shared/NumericInput/styles.css ***!
  \*************************************************************************************************************************************************************/
.numinput{
  height:23px;
  width:52px;
  position:relative;
  display:inline-block;
  box-sizing:border-box;
}

  .numinput.numinput-disabled{
    opacity:0.5;
  }

  .numinput .numinput-input{
    width:40px;
    height:100%;
    font-size:12px;
    text-align:right;
    padding-right:6px;
    background-color:#222222;
    border:1px solid #4b4b4b;
  }

  .numinput .numinput-input:focus{
      outline:none;
    }

  .numinput .numinput-controls{
    width:12px;
    height:100%;
    position:absolute;
    display:inline-block;
    border:1px solid #4b4b4b;
    border-left-width:0;
  }

  .numinput .numinput-controls-button{
    width:100%;
    height:50%;
    line-height:0;
    transition:all 0.3s linear;
  }

  .numinput .numinput-controls-button.numinput-controls-button-up{
      border-bottom:1px solid #4b4b4b;
    }

  .numinput .numinput-controls-button .numinput-controls-button-icon{
      font-size:9px;
      margin:1px;
    }

  .numinput:not(.numinput-disabled) .numinput-controls-button{
    cursor:pointer;
  }

  .numinput:not(.numinput-disabled) .numinput-controls-button:hover,
    .numinput:not(.numinput-disabled) .numinput-controls-button:focus{
      background-color:#9e6aff;
      color:white;
    }

/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/AxisClipSliders/styles.css ***!
  \*********************************************************************************************************************************************************/
.clip-sliders{
  --w-group-title:50px;
  --w-axis-slider:480px;
  --w-name:10px;
  --w-values-3d:160px;
  --w-values-2d:100px;
  --w-play-button:28px;

  --color-x:#ff4d4d;
  --color-y:#61d900;
  --color-z:#0099ff
}
.clip-sliders .noUi-handle{
    box-shadow:none;
    cursor:pointer;
    pointer-events:inherit;
    background-color:#a0a0a0;
    top:0px;
    left:100%;
    z-index:1;
    width:8px;
    height:8px;
    border:none;
    border-radius:0;
    transform:translate(-50%, calc(-100% - 4px));
  }
.clip-sliders .noUi-handle::before{
    display:none;
    content:none;
  }
.clip-sliders .noUi-handle::after{
    background-color:inherit;
    width:8px;
    height:8px;
    top:0;
    left:0;
    transform:matrix(0.5, 0.5, -0.5, 0.5, 0, 4);
    content:"";
  }
.clip-sliders .noUi-touch-area{
    padding:8px;
    margin-top:-4px;
    margin-left:-4px;
  }
.clip-sliders .noUi-connect{
    background-color:#a0a0a0;
  }
.clip-sliders .noUi-target.noUi-ltr.noUi-horizontal{
    background-color:#a0a0a0;
  }
.clip-sliders .noUi-horizontal{
    height:2px;
  }
.clip-sliders .noUi-target{
    border:none;
    box-shadow:none;
  }
.clip-sliders .noUi-tooltip{
    border:none;
    background-color:transparent;
    color:inherit;
    font-size:10px;
    top:calc(100% + 3px);
  }
.clip-sliders{
  max-width:calc(var(--w-group-title) + var(--w-axis-slider) + var(--w-name) + var(--w-values-3d) + 80px);
  position:absolute;
  margin:auto;
  top:calc(50% + 21px);
  transform:translateY(-50%);
  left:0;
  right:0;
  padding:0 25px;
}
.clip-sliders .slider-group{
    display:flex;
    flex-wrap:nowrap
  }
.clip-sliders .slider-group:not(:last-child){
      margin-bottom:8px;
    }
.clip-sliders .slider-group .slider-group-title{
      flex:0 0 var(--w-group-title);
    }
.clip-sliders .slider-group .slider-group-rows{
      flex:1 1 auto;
    }
.clip-sliders .slider-row{
    display:flex;
    flex-wrap:wrap;
    color:#bfbfbf;
    margin-bottom:6px
  }
.clip-sliders .slider-row.slider-x .slider-name{
        color:var(--color-x);
      }
.clip-sliders .slider-row.slider-x .noUi-handle{
        background-color:var(--color-x) !important;
      }
.clip-sliders .slider-row.slider-y .slider-name{
        color:var(--color-y);
      }
.clip-sliders .slider-row.slider-y .noUi-handle{
        background-color:var(--color-y) !important;
      }
.clip-sliders .slider-row.slider-z .slider-name{
        color:var(--color-z);
      }
.clip-sliders .slider-row.slider-z .noUi-handle{
        background-color:var(--color-z) !important;
      }
.clip-sliders .slider-row.slider-t .slider-values{
        flex:0 0 var(--w-values-2d);
      }
.clip-sliders .axis-slider-container{
    display:flex;
    flex:1 1 auto;
    align-items:center;
  }
.clip-sliders .axis-slider{
    flex:1 1 var(--w-axis-slider);
    max-width:var(--w-axis-slider);
    margin-top:0.5em;
  }
.clip-sliders .slider-name,
  .clip-sliders .slider-play-buttons{
    margin-right:14px;
    white-space:nowrap;
  }
.clip-sliders .slider-name{
    flex:0 0 var(--w-name);
    font-weight:bold;
  }
.clip-sliders .slider-values{
    flex:0 0 var(--w-values-3d);
    max-width:var(--w-values-3d);
    margin-left:18px;
    white-space:nowrap;
  }
.clip-sliders .slider-play-buttons{
    margin-top:2px;
  }
.clip-sliders.clip-sliders-2d{
    max-width:calc(
      var(--w-group-title) + var(--w-axis-slider) + var(--w-name) + var(--w-values-2d) + var(--w-play-button) + 80px
    );
  }
.clip-sliders.clip-sliders-2d .slider-values{
      flex:0 0 var(--w-values-2d);
    }
.clip-sliders.clip-sliders-2d .axis-slider-container{
      flex:0 1 calc(var(--w-axis-slider) + var(--w-name) + var(--w-values-2d) + 30px);
    }
.clip-sliders .noUi-target{
    height:3px;
    background-color:rgba(160, 160, 160, 0.4) !important;
  }
.clip-sliders .noUi-handle{
    transform:translate(-50%, calc(-100% - 4px));
  }
.clip-sliders .slider-single-handle .noUi-handle::before{
    content:"";
    display:block;
    height:4px;
    width:4px;
    left:2px;
    top:11px;
    border-radius:50%;
    background-color:#a0a0a0;
  }
.clip-sliders .noUi-handle::after{
    box-shadow:4px 4px 3px 0 rgba(0, 0, 0, 0.2);
  }
.clip-sliders .noUi-pips{
    padding:0;
    height:0;
    top:2px;
  }
.clip-sliders .noUi-pips .noUi-marker-normal{
      display:none;
    }
.clip-sliders .noUi-pips .noUi-marker-large{
      background-color:#4b4b4b;
      height:9px;
      bottom:-4px;
    }
.clip-sliders .ant-btn.slider-play-button{
    line-height:1;
    height:23px;
    width:var(--w-play-button);
    color:#bfbfbf;
    border-color:#4b4b4b !important;
    background-color:transparent
  }
.clip-sliders .ant-btn.slider-play-button:hover{
      background-color:rgba(160, 160, 160, 0.4);
    }
.clip-sliders .ant-btn.slider-play-button:hover,
    .clip-sliders .ant-btn.slider-play-button:focus{
      color:white;
    }
.clip-sliders .ant-btn.slider-play-button[ant-click-animating-without-extra-node="true"]::after{
      box-shadow:none !important;
      background-color:#aeacae;
    }
@media only screen and (max-width: 500px){
  .clip-sliders .slider-group{
    display:none;
  }

  .clip-sliders::after{
    content:"ROI clipping is not available at this size. Please try again with a larger viewport.";
    font-style:italic;
  }
}

/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/BottomPanel/styles.css ***!
  \*****************************************************************************************************************************************************/
.bottom-panel{
  position:absolute;
  bottom:0;
  width:100%;
}

  .bottom-panel .ant-drawer{
    position:absolute;
  }

  .bottom-panel .drawer .ant-drawer-content-wrapper{
    transform:translateY(69%) !important;
  }

  .bottom-panel .ant-drawer-content-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:unset !important;
    position:absolute;
  }

  .bottom-panel .ant-drawer-content{
    background:none;
  }

  .bottom-panel .ant-drawer-wrapper-body{
    opacity:85%;
  }

  .bottom-panel .ant-drawer-header{
    background:none;
    padding:21px 24px;
    border-bottom:none;
  }

  .bottom-panel .ant-drawer-body{
    padding:16px 24px;
    height:150px;
  }

  .bottom-panel .ant-drawer-title .ant-btn{
    background-color:#4b4b4b;
    color:#aeacae;
  }

  .bottom-panel .ant-drawer-title .ant-btn:focus{
      color:#aeacae;
    }

  .bottom-panel .ant-drawer-title .ant-btn:hover{
      color:white;
    }

  .bottom-panel .options-button{
    border:none;
    box-shadow:none;
    margin-right:0.8em;
    margin-bottom:0.2em;
    position:absolute;
    right:0;
  }

  .bottom-panel .button-arrow{
    transform:rotate(270deg);
    transition:transform 0.2s linear !important;
  }

  .bottom-panel .drawer-body-wrapper{
    display:none;
  }

  .bottom-panel .drawer.ant-drawer-open .ant-drawer-content-wrapper{
      transform:none !important;
      box-shadow:none;
      -webkit-box-shadow:none;
    }

  .bottom-panel .drawer.ant-drawer-open .drawer-body-wrapper{
      display:block;
    }

  .bottom-panel .drawer.ant-drawer-open .ant-drawer-body,
    .bottom-panel .drawer.ant-drawer-open .ant-drawer-title .ant-btn{
      background-color:#222222;
    }

  .bottom-panel .drawer.ant-drawer-open .button-arrow{
      transform:rotate(90deg);
    }

/*!*****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/CellViewerCanvasWrapper/styles.css ***!
  \*****************************************************************************************************************************************************************/
.cell-viewer-wrapper .cell-canvas{
    z-index:10;
    transition:width 0.3s;
    height:100%;
    width:100%;
  }

@media only screen and (max-width: 800px){
    .cell-viewer-wrapper .cell-canvas{
      min-width:33px;
    }
}

/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/assets/styles/globals.css ***!
  \*********************************************************************************************************************************************/
.cell-viewer-app{
  height:100%;
}
@font-face{
  font-family:"Merriweather Sans";
  font-style:normal;
  font-weight:400;
  src:url(f1356ede478f73d779e2.eot);
  src:local("Merriweather Sans"), local("MerriweatherSans-Regular"), url(f1356ede478f73d779e2.eot?#iefix) format("embedded-opentype"), url(ac4159d003d0292bc887.woff2) format("woff2"), url(1ac616e6cb1f96beabb0.woff) format("woff"), url(44ae4b4bb2a86537ec36.svg#MerriweatherSans) format("svg");
}
@font-face{
  font-family:"Merriweather Sans";
  font-style:normal;
  font-weight:700;
  src:url(d1514734083898ba0277.eot);
  src:local("Merriweather Sans Bold"), local("MerriweatherSans-Bold"), url(d1514734083898ba0277.eot?#iefix) format("embedded-opentype"), url(f5b9974a7a9d3dec14db.woff2) format("woff2"), url(08c59fccbe3960642066.woff) format("woff"), url(0e2f52e8da63400c1295.svg#MerriweatherSans) format("svg");
}
@font-face{
  font-family:"Overpass";
  font-style:normal;
  font-weight:300;
  src:url(9740c99ac883363fb2c8.eot);
  src:local("Overpass Light"), local("Overpass-Light"), url(9740c99ac883363fb2c8.eot?#iefix) format("embedded-opentype"), url(c21289c5b1e0db3094d8.woff2) format("woff2"), url(d8690888bf170af64c0f.woff) format("woff"), url(dd3aa40471b4034a0000.svg#Overpass) format("svg");
}
@font-face{
  font-family:"Overpass";
  font-style:normal;
  font-weight:600;
  src:url(8684f0322da31d213d65.eot);
  src:local("Overpass SemiBold"), local("Overpass-SemiBold"), url(8684f0322da31d213d65.eot?#iefix) format("embedded-opentype"), url(552145ac846489eb0e31.woff2) format("woff2"), url(bd696b4af8d65c3e48fa.woff) format("woff"), url(3298dd268196e4283c49.svg#Overpass) format("svg");
}
@font-face{
  font-family:"Material Icons";
  font-style:normal;
  font-weight:400;
  src:url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}

/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/aics-image-viewer/components/App/styles.css ***!
  \*********************************************************************************************************************************************/
.cell-viewer-app .ant-radio-button-wrapper-disabled,
  .cell-viewer-app .ant-btn[disabled]{
    color:rgb(110, 110, 110);
  }
  .cell-viewer-app .control-panel-holder{
    overflow:visible;
  }

.cell-viewer-wrapper{
  overflow-y:hidden;
}

.cell-viewer-wrapper .ant-layout-content{
    position:relative;
  }

.cell-viewer-wrapper .ant-progress,
  .cell-viewer-wrapper .ant-progress-line{
    position:absolute;
  }

.cell-viewer-wrapper .ant-progress{
    background-color:white;
    z-index:20;
  }

.cell-viewer-wrapper .ant-progress-status-active .ant-progress-bg::before{
    position:absolute;
    top:0;
    bottom:0;
    right:50%;
    left:0;
    width:50%;
    background:rgb(49, 49, 49);
    background:linear-gradient(90deg, #313131 0%, #868686 520%, #313131 100%);
    opacity:0.6;
    -webkit-animation:ant-progress-active 2.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    animation:ant-progress-active 2.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    content:"";
  }

@-webkit-keyframes ant-progress-active{
    from{
      left:-50%;
    }

    to{
      left:100%;
    }
  }

@keyframes ant-progress-active{
    from{
      left:-50%;
    }

    to{
      left:100%;
    }
  }

