.numinput{
  height:23px;
  width:52px;
  position:relative;
  display:inline-block;
  box-sizing:border-box;
}

  .numinput input{
    color:var(--color-text-body);
  }

  .numinput.numinput-disabled{
    opacity:0.5;
  }

  .numinput .numinput-input{
    width:40px;
    height:100%;
    font-size:12px;
    text-align:right;
    padding-right:6px;
    background-color:transparent;
    border:1px solid #4b4b4b;
  }

  .numinput .numinput-input:focus{
      outline:none;
    }

  .numinput .numinput-controls{
    width:12px;
    height:100%;
    position:absolute;
    display:inline-block;
    border:1px solid #4b4b4b;
    border-left-width:0;
  }

  .numinput .numinput-controls-button{
    width:100%;
    height:50%;
    line-height:0;
    transition:all 0.3s linear;
  }

  .numinput .numinput-controls-button.numinput-controls-button-up{
      border-bottom:1px solid #4b4b4b;
    }

  .numinput .numinput-controls-button .numinput-controls-button-icon{
      font-size:9px;
      margin:1px;
    }

  .numinput:not(.numinput-disabled) .numinput-controls-button{
    cursor:pointer;
  }

  .numinput:not(.numinput-disabled) .numinput-controls-button:hover,
    .numinput:not(.numinput-disabled) .numinput-controls-button:focus{
      background-color:#9e6aff;
      color:white;
    }

.clip-sliders{
  --w-group-title:50px;
  --w-axis-slider:480px;
  --w-name:10px;
  --w-values-3d:160px;
  --w-values-2d:100px;
  --w-play-button:28px;

  --color-x:#ff4d4d;
  --color-y:#61d900;
  --color-z:#0099ff
}

.clip-sliders .noUi-handle{
    box-shadow:none;
    cursor:pointer;
    pointer-events:inherit;
    background-color:#a0a0a0;
    top:0px;
    left:100%;
    z-index:1;
    width:8px;
    height:8px;
    border:none;
    border-radius:0;
    transform:translate(-50%, calc(-100% - 4px));
  }

.clip-sliders .noUi-handle::before{
    display:none;
    content:none;
  }

.clip-sliders .noUi-handle::after{
    background-color:inherit;
    width:8px;
    height:8px;
    top:0;
    left:0;
    transform:matrix(0.5, 0.5, -0.5, 0.5, 0, 4);
    content:"";
  }

.clip-sliders .noUi-touch-area{
    padding:8px;
    margin-top:-4px;
    margin-left:-4px;
  }

.clip-sliders .noUi-connect{
    background-color:#a0a0a0;
  }

.clip-sliders .noUi-target.noUi-ltr.noUi-horizontal{
    background-color:#a0a0a0;
  }

.clip-sliders .noUi-horizontal{
    height:2px;
  }

.clip-sliders .noUi-target{
    border:none;
    box-shadow:none;
  }

.clip-sliders .noUi-tooltip{
    border:none;
    background-color:transparent;
    color:inherit;
    font-size:10px;
    top:calc(100% + 3px);
  }

.clip-sliders{
  max-width:calc(var(--w-group-title) + var(--w-axis-slider) + var(--w-name) + var(--w-values-3d) + 80px);
  position:relative;
  margin:auto;
  left:0;
  right:0;
  padding:0 25px;
}

.clip-sliders .slider-group{
    display:flex;
    flex-wrap:nowrap
  }

.clip-sliders .slider-group:not(:last-child){
      margin-bottom:8px;
    }

.clip-sliders .slider-group .slider-group-title{
      flex:0 0 var(--w-group-title);
      margin:0;
    }

.clip-sliders .slider-group .slider-group-rows{
      flex:1 1 auto;
    }

.clip-sliders .slider-row{
    display:flex;
    flex-wrap:wrap;
    color:#bfbfbf;
    margin-bottom:6px
  }

.clip-sliders .slider-row.slider-x .slider-name{
        color:var(--color-x);
      }

.clip-sliders .slider-row.slider-x .noUi-handle{
        background-color:var(--color-x) !important;
      }

.clip-sliders .slider-row.slider-y .slider-name{
        color:var(--color-y);
      }

.clip-sliders .slider-row.slider-y .noUi-handle{
        background-color:var(--color-y) !important;
      }

.clip-sliders .slider-row.slider-z .slider-name{
        color:var(--color-z);
      }

.clip-sliders .slider-row.slider-z .noUi-handle{
        background-color:var(--color-z) !important;
      }

.clip-sliders .slider-row.slider-t .slider-values{
        flex:0 0 var(--w-values-2d);
      }

.clip-sliders .axis-slider-container{
    display:flex;
    flex:1 1 auto;
    align-items:center;
  }

.clip-sliders .axis-slider{
    flex:1 1 var(--w-axis-slider);
    max-width:var(--w-axis-slider);
    margin-top:0.5em;
  }

.clip-sliders .slider-name,
  .clip-sliders .slider-play-buttons{
    margin-right:14px;
    white-space:nowrap;
  }

.clip-sliders .slider-name{
    flex:0 0 var(--w-name);
    font-weight:bold;
  }

.clip-sliders .slider-values{
    flex:0 0 var(--w-values-3d);
    max-width:var(--w-values-3d);
    margin-left:18px;
    white-space:nowrap;
  }

.clip-sliders .slider-play-buttons{
    margin-top:2px;
  }

.clip-sliders.clip-sliders-2d{
    max-width:calc(
      var(--w-group-title) + var(--w-axis-slider) + var(--w-name) + var(--w-values-2d) + var(--w-play-button) + 80px
    );
  }

.clip-sliders.clip-sliders-2d .slider-values{
      flex:0 0 var(--w-values-2d);
    }

.clip-sliders.clip-sliders-2d .axis-slider-container{
      flex:0 1 calc(var(--w-axis-slider) + var(--w-name) + var(--w-values-2d) + 30px);
    }

.clip-sliders .noUi-target{
    height:3px;
    background-color:rgba(160, 160, 160, 0.4) !important;
  }

.clip-sliders .noUi-handle{
    transform:translate(-50%, calc(-100% - 4px));
  }

.clip-sliders .slider-single-handle .noUi-handle::before{
    content:"";
    display:block;
    height:4px;
    width:4px;
    left:2px;
    top:11px;
    border-radius:50%;
    background-color:#a0a0a0;
  }

.clip-sliders .noUi-handle::after{
    box-shadow:4px 4px 3px 0 rgba(0, 0, 0, 0.2);
  }

.clip-sliders .noUi-pips{
    padding:0;
    height:0;
    top:2px;
  }

.clip-sliders .noUi-pips .noUi-marker-normal{
      display:none;
    }

.clip-sliders .noUi-pips .noUi-marker-large{
      background-color:#4b4b4b;
      height:9px;
      bottom:-4px;
    }

.clip-sliders .ant-btn.slider-play-button{
    line-height:1;
    height:23px;
    width:var(--w-play-button);
    color:#bfbfbf;
    border-color:#4b4b4b !important;
    background-color:transparent
  }

.clip-sliders .ant-btn.slider-play-button:hover{
      background-color:rgba(160, 160, 160, 0.4);
    }

.clip-sliders .ant-btn.slider-play-button:hover,
    .clip-sliders .ant-btn.slider-play-button:focus{
      color:white;
    }

.clip-sliders .ant-btn.slider-play-button[ant-click-animating-without-extra-node="true"]::after{
      box-shadow:none !important;
      background-color:#aeacae;
    }

@media only screen and (max-width: 500px){
  .clip-sliders .slider-group{
    display:none;
  }

  .clip-sliders::after{
    content:"ROI clipping is not available at this size. Please try again with a larger viewport.";
    font-style:italic;
  }
}

.bottom-panel{
  position:absolute;
  bottom:0;
  width:100%;
}

  .bottom-panel .ant-drawer .ant-drawer-content-wrapper{
    transform:translateY(69%);
  }

  .bottom-panel .ant-drawer-content-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:190px !important;
    transition:all 0.3s, max-width 0s 0s;
    opacity:85%;
    box-shadow:none;
  }

  .bottom-panel .ant-drawer-content{
    background:none;
  }

  .bottom-panel .ant-drawer-header{
    background:none;
    padding:21px 24px;
    border-bottom:none;
  }

  .bottom-panel .ant-drawer-body{
    padding:16px 24px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }

  .bottom-panel.bottom-panel.bottom-panel .ant-drawer-title .ant-btn{
    background-color:var(--color-controlpanel-drawer-bg);
    color:#aeacae;
  }

  .bottom-panel.bottom-panel.bottom-panel .ant-drawer-title .ant-btn:active,
    .bottom-panel.bottom-panel.bottom-panel .ant-drawer-title .ant-btn:hover,
    .bottom-panel.bottom-panel.bottom-panel .ant-drawer-title .ant-btn:focus{
      background-color:var(--color-controlpanel-drawer-bg);
      color:white;
    }

  .bottom-panel .options-button{
    border:none;
    box-shadow:none;
    margin-right:0.8em;
    margin-bottom:0.2em;
    position:absolute;
    right:0;
  }

  .bottom-panel .button-arrow{
    transform:rotate(270deg);
    transition:transform 0.2s linear !important;
  }

  .bottom-panel .drawer-body-wrapper{
    display:none;
    width:100%;
  }

  .bottom-panel .ant-drawer.ant-drawer-open .ant-drawer-content-wrapper{
      transform:none;
      box-shadow:none;
      -webkit-box-shadow:none;
    }

  .bottom-panel .ant-drawer.ant-drawer-open .drawer-body-wrapper{
      display:block;
    }

  .bottom-panel .ant-drawer.ant-drawer-open .ant-drawer-body,
    .bottom-panel .ant-drawer.ant-drawer-open .ant-drawer-title .ant-btn.ant-btn-default{
      background-color:var(--color-controlpanel-drawer-bg);
    }

  .bottom-panel .ant-drawer.ant-drawer-open .button-arrow{
      transform:rotate(90deg);
    }

.cell-viewer-wrapper .cell-canvas{
    z-index:10;
    transition:width 0.3s;
    height:100%;
    width:100%;
  }

@media only screen and (max-width: 800px){
    .cell-viewer-wrapper .cell-canvas{
      min-width:33px;
    }
}

/*! nouislider - 14.7.0 - 4/6/2021 */
.noUi-target,
.noUi-target *{
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-user-select:none;
  -ms-touch-action:none;
  touch-action:none;
  -ms-user-select:none;
  -moz-user-select:none;
  user-select:none;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.noUi-target{
  position:relative;
}
.noUi-base,
.noUi-connects{
  width:100%;
  height:100%;
  position:relative;
  z-index:1;
}
.noUi-connects{
  overflow:hidden;
  z-index:0;
}
.noUi-connect,
.noUi-origin{
  will-change:transform;
  position:absolute;
  z-index:1;
  top:0;
  right:0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -webkit-transform-style:preserve-3d;
  transform-origin:0 0;
  transform-style:flat;
}
.noUi-connect{
  height:100%;
  width:100%;
}
.noUi-origin{
  height:10%;
  width:10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{
  left:0;
  right:auto;
}
.noUi-vertical .noUi-origin{
  width:0;
}
.noUi-horizontal .noUi-origin{
  height:0;
}
.noUi-handle{
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
.noUi-touch-area{
  height:100%;
  width:100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin{
  -webkit-transition:transform 0.3s;
  transition:transform 0.3s;
}
.noUi-state-drag *{
  cursor:inherit !important;
}
.noUi-horizontal{
  height:18px;
}
.noUi-horizontal .noUi-handle{
  width:34px;
  height:28px;
  right:-17px;
  top:-6px;
}
.noUi-vertical{
  width:18px;
}
.noUi-vertical .noUi-handle{
  width:28px;
  height:34px;
  right:-6px;
  top:-17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{
  left:-17px;
  right:auto;
}
.noUi-target{
  background:#FAFAFA;
  border-radius:4px;
  border:1px solid #D3D3D3;
  box-shadow:inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects{
  border-radius:3px;
}
.noUi-connect{
  background:#3FB8AF;
}
.noUi-draggable{
  cursor:ew-resize;
}
.noUi-vertical .noUi-draggable{
  cursor:ns-resize;
}
.noUi-handle{
  border:1px solid #D9D9D9;
  border-radius:3px;
  background:#FFF;
  cursor:default;
  box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active{
  box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
.noUi-handle:before,
.noUi-handle:after{
  content:"";
  display:block;
  position:absolute;
  height:14px;
  width:1px;
  background:#E8E7E6;
  left:14px;
  top:6px;
}
.noUi-handle:after{
  left:17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after{
  width:14px;
  height:1px;
  left:6px;
  top:14px;
}
.noUi-vertical .noUi-handle:after{
  top:17px;
}
[disabled] .noUi-connect{
  background:#B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle{
  cursor:not-allowed;
}
.noUi-pips,
.noUi-pips *{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.noUi-pips{
  position:absolute;
  color:#999;
}
.noUi-value{
  position:absolute;
  white-space:nowrap;
  text-align:center;
}
.noUi-value-sub{
  color:#ccc;
  font-size:10px;
}
.noUi-marker{
  position:absolute;
  background:#CCC;
}
.noUi-marker-sub{
  background:#AAA;
}
.noUi-marker-large{
  background:#AAA;
}
.noUi-pips-horizontal{
  padding:10px 0;
  height:80px;
  top:100%;
  left:0;
  width:100%;
}
.noUi-value-horizontal{
  -webkit-transform:translate(-50%, 50%);
  transform:translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal{
  -webkit-transform:translate(50%, 50%);
  transform:translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker{
  margin-left:-1px;
  width:2px;
  height:5px;
}
.noUi-marker-horizontal.noUi-marker-sub{
  height:10px;
}
.noUi-marker-horizontal.noUi-marker-large{
  height:15px;
}
.noUi-pips-vertical{
  padding:0 10px;
  height:100%;
  top:0;
  left:100%;
}
.noUi-value-vertical{
  -webkit-transform:translate(0, -50%);
  transform:translate(0, -50%);
  padding-left:25px;
}
.noUi-rtl .noUi-value-vertical{
  -webkit-transform:translate(0, 50%);
  transform:translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker{
  width:5px;
  height:2px;
  margin-top:-1px;
}
.noUi-marker-vertical.noUi-marker-sub{
  width:10px;
}
.noUi-marker-vertical.noUi-marker-large{
  width:15px;
}
.noUi-tooltip{
  display:block;
  position:absolute;
  border:1px solid #D9D9D9;
  border-radius:3px;
  background:#fff;
  color:#000;
  padding:5px;
  text-align:center;
  white-space:nowrap;
}
.noUi-horizontal .noUi-tooltip{
  -webkit-transform:translate(-50%, 0);
  transform:translate(-50%, 0);
  left:50%;
  bottom:120%;
}
.noUi-vertical .noUi-tooltip{
  -webkit-transform:translate(0, -50%);
  transform:translate(0, -50%);
  top:50%;
  right:120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip{
  -webkit-transform:translate(50%, 0);
  transform:translate(50%, 0);
  left:auto;
  bottom:10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip{
  -webkit-transform:translate(0, -18px);
  transform:translate(0, -18px);
  top:auto;
  right:28px;
}

.viewer-control-row{
  display:flex;
  align-items:center;
  margin-right:10px;
}

  .viewer-control-row:not(:last-child){
    margin-bottom:20px;
  }

  .viewer-control-row .control-name{
    color:var(--color-controlpanel-text);
    flex:2;
    white-space:nowrap;
  }

  .viewer-control-row .control{
    flex:5;
  }

.channel-row .tf-editor-svg.dragging.basic{
      cursor:pointer;
    }

.channel-row .tf-editor-svg.dragging.advanced{
      cursor:move;
    }

.channel-row .tf-editor-popover{
    position:absolute;
    z-index:9999;
    width:100%;
  }

.channel-row .tf-editor-cover{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

.channel-row .tf-editor-numeric-input-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:20px;
    color:var(--color-controlpanel-text);
  }

.channel-row .tf-editor-numeric-input-row .ant-input-number{
      border-color:var(--color-button-tertiary-outline);
      width:60px;
    }

.channel-row .tick text{
    fill:var(--color-controlpanel-text);
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
  }

.channel-row rect.bar{
    fill:var(--color-controlpanel-border);
  }

.channel-row .axis path,
  .channel-row .axis line{
    stroke:var(--color-controlpanel-border);
  }

.channel-row rect{
    fill:none;
    pointer-events:all;
  }

.channel-row .line{
    stroke:#aeacae;
    stroke-width:1.5px;
  }

.channel-row .ramp-sliders path{
      fill:var(--color-controlpanel-ramp-slider);
      cursor:pointer;
    }

.channel-row .ramp-sliders line{
      stroke:var(--color-controlpanel-ramp-slider);
    }

.channel-row circle{
    fill-opacity:0.6;
    cursor:move;
    stroke:#aeacae;
    stroke-width:1.5px;
  }

.channel-row circle.selected{
      fill:white;
      stroke:white;
    }

.channel-rows-list .ant-list-item.channel-row{
  padding:22px 0;
  border-bottom:1px solid var(--color-controlpanel-border);
  flex-flow:row wrap;
}

.channel-rows-list .ant-list-item.channel-row .ant-list-item-meta-title,
  .channel-rows-list .ant-list-item.channel-row .ant-checkbox-wrapper{
    color:var(--color-controlpanel-text);
  }

.channel-rows-list .ant-list-item.channel-row h4{
    color:var(--color-text-section);
    margin-top:28px;
    margin-bottom:10px;
  }

.channel-rows-list .ant-list-item.channel-row .ant-btn-text{
    color:var(--color-button-icon-activated-text);
    transition:color 0.3s;
  }

.channel-rows-list .ant-list-item.channel-row .ant-btn-text:hover,
    .channel-rows-list .ant-list-item.channel-row .ant-btn-text:focus-visible{
      color:var(--color-button-tertiary-hover-text) !important;
    }

.channel-rows-list .ant-list-item.channel-row .button-row{
    margin-top:16px;
    display:flex;
    justify-content:start;
    align-items:end;
    gap:6px;
  }

.channel-rows-list .ant-list-item.channel-row.controls-closed .ant-btn-text:not(:focus-visible){
    color:var(--color-controlpanel-text);
  }

.viewer-metadata-table{
  width:100%;
  table-layout:fixed;
  box-sizing:border-box;
  border-spacing:0;
  border-collapse:collapse;
}

  .viewer-metadata-table tbody{
    padding:10px;
  }

  .viewer-metadata-table.metadata-top-level{
    border-bottom:1px solid var(--color-controlpanel-border);
  }

  .viewer-metadata-table.metadata-top-level > tbody > tr.metadata-row-collapse-title:first-child{
      border-top:none;
    }

  .viewer-metadata-table tr{
    color:var(--color-controlpanel-text);
  }

  .viewer-metadata-table tr:nth-child(odd):not(.metadata-row-collapse-content):not(.metadata-row-collapse-title){
      background-color:#3a3a3a;
    }

  .viewer-metadata-table tr.metadata-row-collapse-title{
      color:var(--color-text-section);
      background-color:var(--color-controlpanel-section-bg);
    }

  .viewer-metadata-table tr.metadata-row-collapse-title:not(.metadata-collapse-collapsed) > td{
        padding-bottom:7px;
      }

  .viewer-metadata-table tr.metadata-row-collapse-content.metadata-collapse-collapsed{
      visibility:collapse;
      height:0px;
      display:none;
    }

  .viewer-metadata-table tr tr.metadata-row-collapse-title,
    .viewer-metadata-table tr.metadata-row-collapse-content + tr{
      border-top:1px solid var(--color-controlpanel-border);
    }

  .viewer-metadata-table td{
    padding:8px 0;
    overflow-wrap:break-word;
  }

  .viewer-metadata-table td .metadata-collapse-caret{
      cursor:pointer;
      padding-left:16px;
      padding-right:10px;
    }

  .viewer-metadata-table td.metadata-key{
      padding-left:16px;
    }

  .viewer-metadata-table td.metadata-value{
      text-align:right;
      padding-left:20px;
      padding-right:16px;
    }

  .viewer-metadata-table td:last-child{
      padding-right:8px;
    }

  .viewer-metadata-table td.metadata-collapse-content{
      padding:0;
      padding-left:24px;
    }

  .viewer-metadata-table td i{
      transition:transform 0.1s linear;
    }

.control-panel-col-container{
  display:flex;
  height:100%;
}

.control-panel-col-container .control-panel-tab-col,
  .control-panel-col-container .control-panel-col{
    border-right:1px solid var(--color-controlpanel-border);
  }

.control-panel-col-container .control-panel-tab-col{
    text-align:center;
  }

.control-panel-col-container .control-panel-tab-col .ant-btn{
      margin-top:12px;
      background-color:transparent;
      border:1px solid transparent;
      color:var(--color-button-tertiary-text)
    }

.control-panel-col-container .control-panel-tab-col .ant-btn:not([disabled]).btn-tabactive{
          color:var(--color-button-icon-activated-text);
          background-color:var(--color-button-icon-activated-bg);
          border-color:var(--color-button-icon-activated-outline);
        }

.control-panel-col-container .control-panel-tab-col .ant-btn:not([disabled]):hover,
        .control-panel-col-container .control-panel-tab-col .ant-btn:not([disabled]):focus-visible{
          color:var(--color-button-icon-activated-text);
          background-color:var(--color-button-primary-hover-bg);
          border-color:var(--color-button-icon-activated-outline);
        }

.control-panel-col-container .control-panel-tab-col .btn-collapse svg{
        transform:rotate(180deg);
        transition:transform 0.2s linear;
      }

.control-panel-col-container .control-panel-tab-col .btn-collapse.btn-collapse-collapsed svg{
        transform:rotate(0deg);
      }

.control-panel-col-container .control-panel-tab-col .tab-divider{
      width:70%;
      margin:12px 15% 0;
      border-bottom:1px solid var(--color-controlpanel-border);
    }

.control-panel-col-container .control-panel-col{
    flex:1 auto;
    max-width:540px;
    overflow-y:scroll;
    scrollbar-width:none;
  }

.control-panel-col-container .control-panel-col::-webkit-scrollbar{
      display:none;
    }

.control-panel-col-container .control-panel-col{
  }

.control-panel-col-container .control-panel-col .control-panel-title{
      margin:16px;
      max-height:24px;
      font-size:1.4em;
    }

.control-panel-col-container .control-panel-col .color-presets-dropdown{
      margin:0 16px 16px;
    }

.control-panel-col-container .control-panel-col .channel-rows-list{
      border-top:1px solid var(--color-controlpanel-border);
    }

.control-panel-col-container .control-panel-col .channel-rows-list .ant-list-item-meta{
        align-items:center;
      }

.control-panel-col-container .control-panel-col .channel-rows-list .ant-list-item-meta .ant-list-item-meta-title{
          margin:0;
        }

.control-panel-col-container .control-panel-col .channel-rows-list .ant-checkbox-wrapper:hover .ant-checkbox-inner{
        border-color:white;
      }

.control-panel-col-container .control-panel-col .channel-rows-list .channel-visibility-controls,
      .control-panel-col-container .control-panel-col .channel-rows-list .ant-collapse-extra{
        width:40%;
        display:flex;
      }

.control-panel-col-container .control-panel-col .channel-rows-list .channel-visibility-controls .ant-checkbox-wrapper, .control-panel-col-container .control-panel-col .channel-rows-list .ant-collapse-extra .ant-checkbox-wrapper{
          flex:4;
        }

.control-panel-col-container .control-panel-col .channel-rows-list .ant-collapse-content-box{
        padding:0 16px;
      }

.control-panel-col-container .control-panel-col .ant-collapse{
      background-color:var(--color-controlpanel-bg);
    }

.control-panel-col-container .control-panel-col .ant-collapse .ant-collapse-header{
        padding:13px 16px;
        background-color:var(--color-controlpanel-section-bg);
      }

.control-panel-col-container .control-panel-col .noUi-handle{
    box-shadow:none;
    cursor:pointer;
    pointer-events:inherit;
    background-color:#a0a0a0;
    top:0px;
    left:100%;
    z-index:1;
    width:8px;
    height:8px;
    border:none;
    border-radius:0;
    transform:translate(-50%, calc(-100% - 4px));
  }

.control-panel-col-container .control-panel-col .noUi-handle::before{
    display:none;
    content:none;
  }

.control-panel-col-container .control-panel-col .noUi-handle::after{
    background-color:inherit;
    width:8px;
    height:8px;
    top:0;
    left:0;
    transform:matrix(0.5, 0.5, -0.5, 0.5, 0, 4);
    content:"";
  }

.control-panel-col-container .control-panel-col .noUi-touch-area{
    padding:8px;
    margin-top:-4px;
    margin-left:-4px;
  }

.control-panel-col-container .control-panel-col .noUi-connect{
    background-color:#a0a0a0;
  }

.control-panel-col-container .control-panel-col .noUi-target.noUi-ltr.noUi-horizontal{
    background-color:#a0a0a0;
  }

.control-panel-col-container .control-panel-col .noUi-horizontal{
    height:2px;
  }

.control-panel-col-container .control-panel-col .noUi-target{
    border:none;
    box-shadow:none;
  }

.control-panel-col-container .control-panel-col .noUi-tooltip{
    border:none;
    background-color:transparent;
    color:inherit;
    font-size:10px;
    top:calc(100% + 3px);
  }

.load-error-alert{
  position:fixed;
  bottom:30px;
  left:30px;
  width:40vw;
  align-items:start;
  z-index:5000;
  border-color:#dc4446;
  padding:12px 30px;
}

  .load-error-alert .ant-alert-icon,
  .load-error-alert .ant-alert-close-icon,
  .load-error-alert .ant-alert-message div{
    min-height:24px;
  }

  .load-error-alert .ant-btn-text{
    color:var(--color-text-link);
  }

  .load-error-alert .ant-alert-message div:first-child{
    color:var(--color-text-section);
    font-weight:600;
  }

.viewer-toolbar-container{
  position:absolute;
  width:100%;
  z-index:250;
}

.viewer-toolbar-container .viewer-toolbar-scroll-left,
  .viewer-toolbar-container .viewer-toolbar-scroll-right{
    height:100%;
    width:18px;
    justify-content:center;
    align-items:center;
    background-color:rgba(75, 75, 75, 0.85);
    display:none;
    position:absolute;
    top:0;
    z-index:255;
    transition:color 0.3s;
  }

.viewer-toolbar-container .viewer-toolbar-scroll-left:hover, .viewer-toolbar-container .viewer-toolbar-scroll-right:hover{
      color:white;
    }

.viewer-toolbar-container .viewer-toolbar-scroll-left{
    left:0;
  }

.viewer-toolbar-container .viewer-toolbar-scroll-right{
    right:0;
  }

.viewer-toolbar-container.viewer-toolbar-scroll{
    border-bottom:1px solid var(--color-layout-dividers);
  }

.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar-scroll-left,
    .viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar-scroll-right{
      display:flex;
    }

.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar{
      white-space:nowrap;
      justify-content:normal;

      overflow-x:scroll;
      scrollbar-width:none;
    }

.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar::-webkit-scrollbar{
        display:none;
      }

.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar .viewer-toolbar-left{
        position:static;
        margin-left:15px;
      }

.viewer-toolbar-container.viewer-toolbar-scroll .viewer-toolbar .viewer-toolbar-right{
        position:static;
        margin-right:15px;
      }

.viewer-toolbar{
  padding:12px;
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.viewer-toolbar > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    vertical-align:middle;
  }

.viewer-toolbar .viewer-toolbar-left,
  .viewer-toolbar .viewer-toolbar-right{
    position:absolute;
  }

.viewer-toolbar .viewer-toolbar-left:not(:empty), .viewer-toolbar .viewer-toolbar-right:not(:empty){
      padding:0 12px;
    }

.viewer-toolbar .viewer-toolbar-left{
    left:0;
  }

.viewer-toolbar .viewer-toolbar-right{
    right:0;
  }

.viewer-toolbar .viewer-toolbar-group{
    display:flex;
    flex-direction:row;
    align-items:center;
    vertical-align:middle;
  }

.viewer-toolbar .viewer-toolbar-group:not(:last-child){
    margin-right:14px;
  }

.viewer-toolbar .viewer-toolbar-group > :not(:last-child){
    margin-right:6px;
  }

.viewer-toolbar .ant-btn-icon-only{
    padding-bottom:4px;
    padding-left:1px;
  }

.viewer-toolbar .btn-borderless{
    background-color:var(--color-toolbar-button-bg);
    border-color:transparent;
    color:var(--color-text-body);
  }

.viewer-toolbar .btn-active{
    color:var(--color-button-icon-activated-text);
    background-color:var(--color-button-icon-activated-bg);
    border:1px solid var(--color-button-icon-activated-outline);
  }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled){
    background-color:black;
    box-shadow:-1px 0px 0px 0px transparent;
    transition-property:color, background-color, border-color, box-shadow;
  }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled).ant-radio-button-wrapper-checked,
    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):hover{
      outline:none;
      color:white;
      border-color:#aeacae;
    }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled).ant-radio-button-wrapper-checked:not(:first-child), .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):hover:not(:first-child){
        box-shadow:-1px 0px 0px 0px #aeacae;
      }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled).ant-radio-button-wrapper-checked{
      background-color:#4b4b4b;
    }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):hover{
      background-color:#aa88ed;
      color:white;
    }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within{
      outline:none;
    }

.viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled)::before{
      content:none;
    }

.viewer-toolbar.viewer-toolbar .ant-select.select-render-setting{
    min-width:120px;
  }

.viewer-toolbar.viewer-toolbar .ant-select.select-render-setting .ant-select-selection-item,
    .viewer-toolbar.viewer-toolbar .ant-select.select-render-setting .ant-select-arrow{
      color:var(--color-button-tertiary-text);
      transition:all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

.viewer-toolbar.viewer-toolbar .ant-select.select-render-setting .ant-select-selector{
      border-color:#aeacae;
      box-shadow:none;
      background-color:var(--color-toolbar-button-bg);
    }

.viewer-toolbar .ant-select.select-render-setting:hover:not(:disabled) .ant-select-selector,
    .viewer-toolbar .ant-select.select-render-setting:hover:not(:disabled) .ant-select-arrow,
    .viewer-toolbar .ant-select.select-render-setting:hover:not(:disabled) .ant-select-selection-item,
    .viewer-toolbar .ant-select.select-render-setting:focus-visible:not(:disabled) .ant-select-selector,
    .viewer-toolbar .ant-select.select-render-setting:focus-visible:not(:disabled) .ant-select-arrow,
    .viewer-toolbar .ant-select.select-render-setting:focus-visible:not(:disabled) .ant-select-selection-item,
    .viewer-toolbar.viewer-toolbar.viewer-toolbar .ant-select-open .ant-select-selector,
    .viewer-toolbar.viewer-toolbar.viewer-toolbar .ant-select-open .ant-select-arrow,
    .viewer-toolbar.viewer-toolbar.viewer-toolbar .ant-select-open .ant-select-selection-item{
      color:var(--color-button-tertiary-hover-text);
      outline-color:var(--color-button-tertiary-hover-outline);
    }

.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-active{
    transition-property:background-color, color;
  }

.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-disabled,
  .viewer-toolbar-dropdown .ant-select-dropdown-menu-item-disabled:hover{
    color:#6e6e6e;
  }

.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled){
    background-color:transparent;
    color:white;
  }

.viewer-toolbar-dropdown .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled).ant-select-dropdown-menu-item-selected{
      background-color:#4b4b4b;
    }

.viewer-toolbar-dropdown .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled){
    background-color:#f6f0ff;
    color:#4b4b4b;
  }

@supports selector(:has(:focus-visible)){
    .viewer-toolbar .ant-select-selection:focus-visible,
    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible),
    .viewer-toolbar .btn-borderless:focus-visible{
      background-color:#aa88ed !important;
      color:white !important;
    }

    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible){
      outline:none;
      border-color:#aeacae;
    }

      .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible):not(:first-child){
        box-shadow:-1px 0px 0px 0px #aeacae;
      }
}

@supports not (selector(:has(:focus-visible))){
    .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within{
      outline:none;
      border-color:#aeacae;
    }

      .viewer-toolbar .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within:not(:first-child){
        box-shadow:-1px 0px 0px 0px #aeacae;
      }
}

#cell-viewer,
.cell-viewer-app{
  height:100%;
}

@font-face{
  font-family:"Open Sans Local";
  font-style:normal;
  font-weight:400;
  src:url(/website-3d-cell-viewer/pr-preview/pr-324/df0c915265497d0853b8.eot);
  src:url(/website-3d-cell-viewer/pr-preview/pr-324/df0c915265497d0853b8.eot?#iefix) format("embedded-opentype"), url(/website-3d-cell-viewer/pr-preview/pr-324/3ce25cec9629e29298f8.woff2) format("woff2"), url(/website-3d-cell-viewer/pr-preview/pr-324/4856ca098dca30412045.woff) format("woff"), url(/website-3d-cell-viewer/pr-preview/pr-324/9cffc976eb78b0ca745e.ttf) format("truetype"), url(/website-3d-cell-viewer/pr-preview/pr-324/5201a2440eba670a8427.svg#svgFontName) format("svg");
}

@font-face{
  font-family:"Open Sans Local";
  font-style:normal;
  font-weight:500;
  src:url(/website-3d-cell-viewer/pr-preview/pr-324/0f78cb91d591cbd13d47.eot);
  src:url(/website-3d-cell-viewer/pr-preview/pr-324/0f78cb91d591cbd13d47.eot?#iefix) format("embedded-opentype"), url(/website-3d-cell-viewer/pr-preview/pr-324/5b186a4ee4c68a1e30bb.woff2) format("woff2"), url(/website-3d-cell-viewer/pr-preview/pr-324/4276dcbd74d40ad601ef.woff) format("woff"), url(/website-3d-cell-viewer/pr-preview/pr-324/517be28afd0ffdf89954.ttf) format("truetype"), url(/website-3d-cell-viewer/pr-preview/pr-324/81e6c56111fa5b3213e8.svg#svgFontName) format("svg");
}

@font-face{
  font-family:"Open Sans Local";
  font-style:normal;
  font-weight:700;
  src:url(/website-3d-cell-viewer/pr-preview/pr-324/da1afdb0d45997a30dc6.eot);
  src:url(/website-3d-cell-viewer/pr-preview/pr-324/da1afdb0d45997a30dc6.eot?#iefix) format("embedded-opentype"), url(/website-3d-cell-viewer/pr-preview/pr-324/f1c00168e8d19a8f8549.woff2) format("woff2"), url(/website-3d-cell-viewer/pr-preview/pr-324/ab2c64b7abc1186b6d96.woff) format("woff"), url(/website-3d-cell-viewer/pr-preview/pr-324/b9bc152bd6586ed936f9.ttf) format("truetype"), url(/website-3d-cell-viewer/pr-preview/pr-324/f6351d45ae5818d6bfbf.svg#svgFontName) format("svg");
}

@font-face{
  font-family:"Material Icons";
  font-style:normal;
  font-weight:400;
  src:url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2");
}

.cell-viewer-app .ant-radio-button-wrapper-disabled,
  .cell-viewer-app .ant-btn[disabled]{
    color:rgb(110, 110, 110);
  }
  .cell-viewer-app .control-panel-holder{
    overflow:visible;
  }

.cell-viewer-wrapper{
  overflow-y:hidden;
}

.cell-viewer-wrapper .ant-layout-content{
    position:relative;
  }

.cell-viewer-wrapper .ant-progress,
  .cell-viewer-wrapper .ant-progress-line{
    position:absolute;
  }

.cell-viewer-wrapper .ant-progress{
    background-color:white;
    z-index:20;
  }

.cell-viewer-wrapper .ant-progress-status-active .ant-progress-bg::before{
    position:absolute;
    top:0;
    bottom:0;
    right:50%;
    left:0;
    width:50%;
    background:rgb(49, 49, 49);
    background:linear-gradient(90deg, #313131 0%, #868686 520%, #313131 100%);
    opacity:0.6;
    -webkit-animation:ant-progress-active 2.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    animation:ant-progress-active 2.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    content:"";
  }

@-webkit-keyframes ant-progress-active{
    from{
      left:-50%;
    }

    to{
      left:100%;
    }
  }

@keyframes ant-progress-active{
    from{
      left:-50%;
    }

    to{
      left:100%;
    }
  }

html,
body{
  height:100%;
  width:100%;
  font-family:"Open Sans", "Overpass", Arial, sans-serif;
}

.cell-viewer-app{
  width:100vw;
}

#onetrust-consent-sdk #onetrust-banner-sdk{
    border-radius:5px;
  }

#onetrust-consent-sdk #onetrust-banner-sdk #onetrust-pc-btn-handler{
      font-weight:400;
      padding:12px 10px;
    }

#onetrust-consent-sdk h1,
  #onetrust-consent-sdk h2,
  #onetrust-consent-sdk h3,
  #onetrust-consent-sdk h4,
  #onetrust-consent-sdk p,
  #onetrust-consent-sdk #onetrust-policy-text{
    color:#323233 !important;
  }

#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-title{
      margin-top:20px;
    }

#onetrust-consent-sdk #accept-recommended-btn-handler,
  #onetrust-consent-sdk #onetrust-accept-btn-handler,
  #onetrust-consent-sdk .save-preference-btn-handler{
    border-radius:6px;
  }


/*# sourceMappingURL=index.css.map*/