@import "../../assets/styles/variables";
@import "../../assets/styles/axis-style-override";

.cell-viewer-wrapper {
  .cell-canvas {
    order: 2;
    flex: 10;
    min-width: 50%;
    z-index: 10;
    transition: width .3s;
  }
  .clip-sliders {
    @extend %axis-override;
    position: absolute;
    color: #ffffff;
    bottom: 0;
    width: 75%;
    left: 5%;
    display: flex;
    .sectionSubHeader {
      flex: 1;
    }
    .sectionBody {
      flex: 8;
      div {
        color: white;
        text-align: center;
      }
    }
  
  }
}

.drawer-closed {
  .cell-canvas  {
    flex: 1 100%;
  }
}
