@import "../../assets/styles/variables";
@import "../../assets/styles/axis-style-override";

.cell-viewer-wrapper {
  .cell-canvas {
    order: 2;
    flex: 10;
    min-width: 50%;
    z-index: 10;
    transition: width .3s;
  }
  .clip-sliders {
    @extend %axis-override;
    position: absolute;
    bottom: 0;
    width: 75%;
    left: 5%;
    display: flex;
    .sectionSubHeader {
      flex: 1;
    }
  
  }
}

.drawer-closed {
  .cell-canvas  {
    flex: 1 100%;
  }
}
@media only screen and (max-width: 800px) {
  .cell-viewer-wrapper {
    .cell-canvas {
      min-width: 33px;
    }
  }
}