@import "./variables.css";

%axis-override {
  /*slider settings*/
  .noUi-handle,
  .noUi-horizontal .noUi-handle {
    box-shadow: none;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    pointer-events: inherit;
    top: 0px;
    left: 100%;
    z-index: 1;
    margin: 1px 0px 0px;
    width: 12px;
    height: 12px;
    background-color: $dark-gray;
    background-clip: padding-box;
    border: 2px solid $slider-color;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      border-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    overflow: visible;
    outline: none;
  }
  .noUi-connect {
    background: $slider-color;
  }
  .noUi-target.noUi-ltr.noUi-horizontal {
    background: $slider-color;
  }
  .noUi-horizontal {
    height: 2px;
  }

  .axis-slider .noUi-horizontal {
    height: 4px;
    background: $dimgray;
  }

  .noUi-target {
    border: none;
    box-shadow: none;
  }

  .axis-slider .noUi-handle:before,
  .noUi-handle:before,
  .noUi-handle:after,
  [disabled].axis-slider .noUi-handle:after,
  .noUi-handle:after,
  .axis-slider .noUi-handle:after,
  .noUi-handle:after,
  .noUi-handle:before {
    display: none;
    content: none;
  }
  .noUi-tooltip {
    border: none;
    background: transparent;
    color: inherit;
    font-size: 10px;
  }
}
