
// /* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    //    url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-700 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    //    url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../aics-image-viewer/assets/fonts/merriweather-sans-v9-latin-700.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
}
/* overpass-300 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../aics-image-viewer/assets/fonts/overpass-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Overpass Light'), local('Overpass-Light'),
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       // url('../aics-image-viewer/assets/fonts/overpass-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-300.svg#Overpass') format('svg'); /* Legacy iOS */
}
/* overpass-600 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('../aics-image-viewer/assets/fonts/overpass-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Overpass SemiBold'), local('Overpass-SemiBold'),
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       // url('../aics-image-viewer/assets/fonts/overpass-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../aics-image-viewer/assets/fonts/overpass-v2-latin-600.svg#Overpass') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
