#cell-viewer {
  height: 100%;

  body {
    font-family: "Open Sans Local", Arial, sans-serif, apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
      "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans Local", Arial, sans-serif, apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
      "Hiragino Sans GB", "Microsoft YaHei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
