#cell-viewer {
  height: 100%;

  body {
    font-family: "Open Sans", "Open Sans Local", Arial, sans-serif;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "Open Sans", "Open Sans Local", Arial, sans-serif;
  }
}
