@import "../../assets/styles/variables";

.cell-viewer-app {
  .ant-layout-sider-zero-width-trigger {
    z-index: 2000;
    background-color: $header-gray;
  }

  .ant-layout-sider-zero-width-trigger:hover {
    background-color: $light-gray;
  }
}

/* Fix vertical alignment of title*/
.ant-list-item-meta {
  align-items: center !important;

  & .ant-list-item-meta-title {
    margin: 0 !important;
  }
}

.control-panel {
  .channel-rows-list {
    /* hover states of checkboxes */
    .ant-checkbox-wrapper:hover .ant-checkbox-inner {
      border-color: white;
    }

    .ant-collapse-content-box {
      padding: 0 16px 0 16px;
    }

    .ant-collapse-content-active {
      border-bottom: 1px solid $border-color;
    }

    .global-volume-controls {
      .ant-collapse-content-box {
        padding: 16px 24px;
      }
    }

    .color-customizer {
      .ant-collapse-content-box {
        padding: 0 16px;
      }
    }
  }
}
