.container { 
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.drawer {
    position: absolute;
}

.ant-drawer-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: unset !important;
}

.ant-drawer-content, .ant-drawer-header {
    background: none;
}

.ant-drawer-body {
    background-color: #ffffff;
}

.options-button {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-right: 0.8em;
}

.open-button {
    margin-bottom: 0.6em;
}

.close-button {
    position: absolute;
    right: 0;
}

.button-arrow {
    transform: rotate(90deg);
}