// Components
@import "../src/aics-image-viewer/assets/styles/typography";

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Overpass'
}

.mycellviewer {
  display: flex;
  flex: 1;
  height: 45vw;
  width: 100%;
}

.mycellviewer :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
  transform: translateY(-100%);
}