// Components
@import "../src/aics-image-viewer/assets/styles/typography";

html, body, #cell-viewer {
  height: 100%;
  width: 100%;
  display: flex;
  font-family: 'Overpass'
}

.cell-viewer-app {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;

  // holds menu bar and image gallery
  .header-wrapper {
    z-index: 99;
    box-shadow: 0px 0px 3px 0px grey;
    position: relative;
  }

  // holds canvas and control panel
  .cell-viewer-wrapper {
    right: 0;
    flex: 10 0px;
    order: 2;
    position: relative;
    display: flex;
    overflow: hidden;
  }

}