html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Overpass", Arial, sans-serif;
}

/* Adjust container width (height needs to be changed through the appHeight prop for ImageViewerApp
   because multiple components depend on it)
*/
.cell-viewer-app {
  width: 100vw;
}
