// Components
@import "../src/aics-image-viewer/assets/styles/typography";

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Overpass'
}

// Adjust size of container here
.cell-viewer-app {
  width: 100vw;
  height: 100vh !important;
}

#cell-viewer .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  transform: translateY(-270%);
}