@import "../../assets/styles/noui-slider-override";
@import "../../assets/styles/variables.css";

.control-panel-col-container {
  display: flex;
  height: 100%;

  .control-panel-tab-col,
  .control-panel-col {
    border-right: 1px solid var(--color-controlpanel-border);
  }

  .control-panel-tab-col {
    text-align: center;

    .ant-btn {
      margin-top: 12px;
      background-color: transparent;
      border: 1px solid transparent;
      color: var(--color-button-tertiary-text);

      &:not([disabled]) {
        &.btn-tabactive {
          color: var(--color-button-icon-activated-text);
          background-color: var(--color-button-icon-activated-bg);
          border-color: var(--color-button-icon-activated-outline);
        }

        &:hover,
        &:focus-visible {
          color: var(--color-button-icon-activated-text);
          background-color: var(--color-button-primary-hover-bg);
          border-color: var(--color-button-icon-activated-outline);
        }
      }
    }

    .btn-collapse {
      svg {
        transform: rotate(180deg);
        transition: transform 0.2s linear;
      }
      &.btn-collapse-collapsed svg {
        transform: rotate(0deg);
      }
    }

    .tab-divider {
      width: 70%;
      margin: 12px 15% 0;
      border-bottom: 1px solid var(--color-controlpanel-border);
    }
  }

  .control-panel-col {
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .control-panel-title {
      margin: 16px;
      max-height: 24px; /* align bottom border with divider to the left */
      font-size: 1.4em;
    }
  }
}

.control-panel-col {
  flex: 1 auto;
  order: 1;
  max-width: 540px;

  .color-presets-dropdown {
    margin: 0 16px 16px;
  }

  .channel-rows-list {
    border-top: 1px solid var(--color-controlpanel-border);

    /* Fix vertical alignment of title */
    .ant-list-item-meta {
      align-items: center;

      .ant-list-item-meta-title {
        margin: 0;
      }
    }

    /* hover states of checkboxes */
    .ant-checkbox-wrapper:hover .ant-checkbox-inner {
      border-color: white;
    }

    /* checkbox spacing, in channel entries and shared in headings */
    .channel-visibility-controls,
    .ant-collapse-extra {
      width: 40%;
      display: flex;

      .ant-checkbox-wrapper {
        flex: 4;
      }

      .anticon {
        flex: 1;
        color: var(--color-controlpanel-text);
      }

      &.controls-open .anticon {
        color: var(--color-button-icon-activated-text);
      }
    }

    .ant-collapse-content-box {
      padding: 0 16px;
    }

    .global-volume-controls {
      .ant-collapse-content-box {
        padding: 16px 24px;
      }
    }

    .color-customizer {
      .ant-collapse-content-box {
        padding: 0 16px;
      }
    }
  }

  .ant-collapse {
    background-color: var(--color-controlpanel-bg);

    .ant-collapse-header {
      padding: 13px 16px;
      background-color: var(--color-controlpanel-section-bg);
    }
  }

  /*slider settings*/
  @extend %axis-override;
}
