@import "../../assets/styles/axis-style-override";
@import "../../assets/styles/variables.css";
::-webkit-scrollbar { 
  display: none; 
}

.control-panel {
  flex: 1 auto;
  order: 1;
  max-width: 540px;
  .ant-card-head {
    border-bottom: none;
  }
  .ant-card-meta {
    margin: 0px;
  }
  .ant-card-meta-title {
    margin: 0px;
    padding: 0px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-collapse-item .ant-collapse-header {
    padding: 0 !important;
  }
  .ant-checkbox-inner {
    background-color: transparent;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: transparent;

    :after {
      background-color: white;

    }
  }

  .channel-rows-list {
    border-top: 1px solid $border-color;
  }

  .ant-collapse {
    border-radius: 0;
  }
  /*slider settings*/
  @extend %axis-override;
}
