@import "../../assets/styles/axis-style-override";

.cell-fov-switch {
  margin-right: 15px;
  background-color: #444444;
}

.cell-fov-switch:global(.ant-switch-checked) {
  background-color: #444444;
}

.control-panel {
  flex: 1 auto;
  order: 1;
  overflow-y: scroll;
  max-width: 540px;
  height: 100vh;
  .card-title {
    padding: 2px;
  }
  .ant-card-body{
    padding: 0;
  }
  .ant-card-extra .ant-btn {

    margin-right: 1em;
  }
  .ant-collapse-item .ant-collapse-header {
    padding: 0;
  }

  //slider settings
  @extend %axis-override;
}

@media only screen and (max-width: 800px) {
  .control-panel {
    max-width: 370px;
  }
}
