@import "../../assets/styles/axis-style-override";

.drawer-closed {
  .control-panel {
    width: 0;
    min-width: 0px;
  }
}

.cell-fov-switch {
  background-color: #222222;
}

.cell-fov-switch:global(.ant-switch-checked) {
  background-color: #222222;
}

.control-panel {
  flex: 1 auto;
  order: 1;
  overflow-y: scroll;
  max-width: 540px;
  .card-title {
    padding: 2px;
  }
  .ant-card-body{
    padding: 0;
  }
  .ant-card-extra .ant-btn {

    margin-right: 1em;
  }
  //slider settings
  @extend %axis-override;
}

@media only screen and (max-width: 800px) {
  .control-panel {
    max-width: 370px;
  }
}
