@import "../../assets/styles/noui-slider-override";
@import "../../assets/styles/variables.css";

.control-panel-col-container {
  display: flex;
  min-height: 100%;

  .control-panel-col {
    border-right: 1px solid $border-color;
  }

  .control-panel-col.control-panel-tab-col {
    text-align: center;

    .btn-borderless {
      margin-top: 5px;

      &:not(:hover) {
        background-color: transparent;
        border: none;
      }

      &[ant-click-animating-without-extra-node="true"]::after {
        box-shadow: none !important;
        background-color: $light-gray;
      }
    }

    .btn-collapse {
      svg {
        transform: rotate(0deg);
        transition: transform 0.2s linear;
      }
      &.btn-collapse-collapsed svg {
        transform: rotate(180deg);
      }
    }

    .tab-divider {
      width: 70%;
      margin: 5px 15% 0;
      border-bottom: 1px solid $border-color;
    }
  }
}

.control-panel {
  flex: 1 auto;
  order: 1;
  max-width: 540px;

  .ant-card-head {
    border-radius: 0;
    border-bottom: none;
  }

  .ant-card-meta {
    margin: 0px;
  }

  .ant-card-meta-title {
    margin: 0px;
    padding: 0px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-collapse-item .ant-collapse-header {
    padding: 0 !important;
  }

  .ant-checkbox-inner {
    background-color: transparent;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: transparent;

    :after {
      background-color: white;
    }
  }

  .channel-rows-list {
    border-top: 1px solid $border-color;
  }

  .ant-collapse {
    background-color: #313131;
  }

  .ant-collapse-content {
    border-radius: 0 !important;
    border-bottom-color: #6e6e6e;
  }

  .channel-rows-list > .ant-card:last-child .ant-collapse-content {
    border-bottom: none;
  }
  /*slider settings*/
  @extend %axis-override;
}
