@import "../../assets/styles/variables";
.channel-rows-list .ant-list-item.channel-row {
  padding: 22px 0;
  border-bottom: 1px solid var(--color-controlpanel-border);
  flex-flow: row wrap;

  .ant-list-item-meta-title,
  .ant-checkbox-wrapper {
    color: var(--color-controlpanel-text);
  }

  h4 {
    color: var(--color-text-section);
    margin-top: 28px;
    margin-bottom: 10px;
  }

  .ant-btn-text {
    color: var(--color-button-icon-activated-text);
    transition: color 0.3s;

    &:hover,
    &:focus-visible {
      color: var(--color-button-tertiary-hover-text) !important;
    }
  }

  .button-row {
    margin-top: 16px;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 6px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &.controls-closed .ant-btn-text:not(:focus-visible) {
    color: var(--color-controlpanel-text);
  }
}
