@import "../../assets/styles/variables";
.channel-rows-list .row-card {
  min-height: 70px;
  padding: 24px 0 12px 0;
  border-bottom: 1px solid var(--color-controlpanel-border);

  .ant-list-item-content {
    order: 3;
  }

  .ant-list-item-action {
    order: 1;
  }

  .ant-row-flex {
    margin-top: 1em;
  }

  &.ant-list-item {
    flex-flow: row wrap;

    .ant-list-item-meta-title,
    .ant-checkbox-wrapper {
      color: var(--color-controlpanel-text);
    }
  }

  &.controls-closed {
    padding: 12px 0 12px 0;

    .ant-list-item-action {
      order: 3;
    }

    .ant-list-item-content {
      order: 2;
    }
  }
}
