.toolbar {
  position: absolute;
  width: 100%;
  margin-top: 12px;
  z-index: 1500;
  display: flex;
  justify-content: center;

  .toolbar-right {
    position: absolute;
    right: 12px;
  }

  .toolbar-group:not(:last-child) {
    margin-right: 14px;
  }

  .toolbar-group > :not(:last-child) {
    margin-right: 6px;
  }

  .btn-borderless {
    background-color: transparent;
    border: none;
    color: #bfbfbf;
  }

  .select-render-setting {
    min-width: 110px;
  }

  .ant-btn-icon-only {
    padding-bottom: 1px;
  }
}
