@import "../../assets/styles/variables";

.viewer-toolbar {
  position: absolute;
  width: 100%;
  margin-top: 12px;
  z-index: 1500;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 12px;

  .viewer-toolbar-left {
    position: absolute;
    left: 12px;
  }

  .viewer-toolbar-right {
    position: absolute;
    right: 12px;
  }

  .viewer-toolbar-group:not(:last-child) {
    margin-right: 14px;
  }

  .viewer-toolbar-group > :not(:last-child) {
    margin-right: 6px;
  }

  .select-render-setting {
    min-width: 110px;
  }

  .ant-btn-icon-only {
    padding-bottom: 1px;
  }

  /* Icon-only buttons */

  .btn-borderless {
    background-color: transparent;
    border-color: transparent;
    color: #bfbfbf;

    > .ant-btn[disabled] {
      background-color: transparent;
      border-color: transparent;
      color: #bfbfbf;
      padding: 0;
    }

    &.btn-active,
    &:hover {
      outline: none;
      box-shadow: none;
      background-color: #4b4b4b;
      color: white;
      border-color: $light-gray;
    }

    &:focus-within:not(.btn-active):not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }

    &[ant-click-animating-without-extra-node="true"]::after {
      box-shadow: none !important;
      background-color: #222222;
    }
  }

  span.btn-borderless {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  /* Radio buttons */

  .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled) {
    background-color: black;
    box-shadow: -1px 0px 0px 0px transparent;
    transition-property: color, background-color, border-color, box-shadow;

    &.ant-radio-button-wrapper-checked,
    &:hover {
      outline: none;
      background-color: #4b4b4b;
      color: white;
      border-color: $light-gray;

      &:not(:first-child) {
        box-shadow: -1px 0px 0px 0px $light-gray;
      }
    }

    &:focus-within {
      outline: none;
    }

    &::before {
      content: none;
    }
  }

  /* Dropdown */

  .ant-select-selection {
    border-color: $light-gray !important;
    box-shadow: none !important;
    background-color: black;
  }

  .ant-select-selection:hover,
  .ant-select-open .ant-select-selection {
    background-color: #4b4b4b;
    color: white;
  }
}
