@import "../../assets/styles/variables";

.viewer-toolbar {
  position: absolute;
  width: 100%;
  margin-top: 12px;
  z-index: 1500;
  padding: 0 12px;
  text-align: center;

  .viewer-toolbar-left {
    position: absolute;
    padding: 0 12px;
    left: 0;
  }

  .viewer-toolbar-right {
    position: absolute;
    padding: 0 12px;
    right: 0;
  }

  .viewer-toolbar-group:not(:last-child) {
    margin-right: 14px;
  }

  .viewer-toolbar-group > :not(:last-child) {
    margin-right: 6px;
  }

  .select-render-setting {
    min-width: 110px;
  }

  /* Toolbar scroll mode: collapse all sections to the left and scroll */
  &.viewer-toolbar-scroll {
    display: static;
    text-align: left;
    white-space: nowrap;
    scroll-behavior: smooth;

    overflow-x: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .viewer-toolbar-left,
    .viewer-toolbar-right {
      position: static;
    }
  }

  /* Icon-only buttons */

  .ant-btn-icon-only {
    padding-bottom: 1px;
  }

  .btn-borderless {
    background-color: transparent;
    border-color: transparent;
    color: #bfbfbf;

    > .ant-btn[disabled] {
      background-color: transparent;
      border-color: transparent;
      color: #bfbfbf;
      padding: 0;
    }

    &.btn-active,
    &:hover {
      outline: none;
      box-shadow: none;
      color: white;
      border-color: $light-gray;
    }

    &.btn-active {
      background-color: #4b4b4b;
    }

    &:hover {
      background-color: $highlight-purple;
    }

    &:focus-within:not(.btn-active):not(:hover) {
      background-color: transparent;
      border-color: transparent;
      color: #bfbfbf;
    }

    &[ant-click-animating-without-extra-node="true"]::after {
      box-shadow: none !important;
      background-color: #222222;
    }
  }

  span.btn-borderless {
    background-color: transparent !important;
    border-color: transparent !important;
  }

  /* Radio buttons */

  .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled) {
    background-color: black;
    box-shadow: -1px 0px 0px 0px transparent;
    transition-property: color, background-color, border-color, box-shadow;

    &.ant-radio-button-wrapper-checked,
    &:hover {
      outline: none;
      color: white;
      border-color: $light-gray;

      &:not(:first-child) {
        box-shadow: -1px 0px 0px 0px $light-gray;
      }
    }

    &.ant-radio-button-wrapper-checked {
      background-color: #4b4b4b;
    }

    &:hover {
      background-color: $highlight-purple;
      color: white;
    }

    &:focus-within {
      outline: none;
    }

    &::before {
      content: none;
    }
  }

  /* Dropdown */

  .ant-select-selection {
    border-color: $light-gray !important;
    box-shadow: none !important;
    background-color: black;

    &:hover {
      background-color: $highlight-purple;
      color: white;
    }
  }
}

/* Dropdown menu contents aren't children of .viewer-toolbar in the DOM */
.viewer-toolbar-dropdown {
  .ant-select-dropdown-menu-item-active {
    transition-property: background-color, color;
  }

  .ant-select-dropdown-menu-item-disabled,
  .ant-select-dropdown-menu-item-disabled:hover {
    color: #6e6e6e;
  }

  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: transparent;
    color: white;

    &.ant-select-dropdown-menu-item-selected {
      background-color: #4b4b4b;
    }
  }

  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #f6f0ff;
    color: #4b4b4b;
  }
}

/* :focus-visible is our ideal focus behavior, but support for the required selectors (namely :has) is spotty. */

@supports selector(:has(:focus-visible)) {
  .viewer-toolbar {
    .ant-select-selection:focus-visible,
    .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible),
    .btn-borderless:focus-visible {
      background-color: $highlight-purple !important;
      color: white !important;
    }

    .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):has(:focus-visible) {
      outline: none;
      border-color: $light-gray;

      &:not(:first-child) {
        box-shadow: -1px 0px 0px 0px $light-gray;
      }
    }
  }
}

@supports not (selector(:has(:focus-visible))) {
  .viewer-toolbar {
    .ant-select-selection:focus,
    .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within,
    .btn-borderless:focus {
      background-color: $highlight-purple !important;
      color: white !important;
    }

    .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):focus-within {
      outline: none;
      border-color: $light-gray;

      &:not(:first-child) {
        box-shadow: -1px 0px 0px 0px $light-gray;
      }
    }
  }
}
