.aics-image-viewer-style-provider {
    width: 100%;
    height: 100%;

    /* Color palette. COMPONENTS USING CSS VARIABLES SHOULD **NOT** ACCESS THESE DIRECTLY. */
    --palette-black: #000000;
    --palette-white: #ffffff;
    --palette-lt-grey: #bfbfbf;
    --palette-purple-grey: #aeacae;
    --palette-med-lt-grey-alt: #a0a0a0;
    --palette-med-grey: #6e6e6e;
    --palette-med-dark-grey: #4b4b4b
    --palette-dark-grey: #313131;
    --palette-very-dark-grey: #222222;
    --palette-lime-green: #b2d030;
    --palette-lt-purple: #aa88ed;
    --palette-med-purple: #9e6aff;
    /* #8950D9 is deprecated. ("medium purple") */
    --palette-dark-purple: #7e46d4;
    --palette-very-dark-purple: #5f369f;
    --palette-very-lt-purple: #e7e4f2;
    --palette-bright-red: #ff4d4d;
    --palette-bright-green: #61d900;
    --palette-bright-blue: #0099ff;

    /* Component and color variables.
     * TODO: use these to control component colors instead of the currently
     * hard-coded colors in the components.
     */
    --color-header-text: var(--palette-med-purple);
    --color-header-icon: var(--palette-white);
    --color-header-bg: var(--palette-very-dark-grey);
    --color-header-border: var(--palette-med-grey);

    --color-button-primary-bg: var(--palette-med-purple);
    --color-button-primary-text: var(--palette-white);
    --color-button-primary-hover-bg: var(--palette-lt-purple);
    --color-button-primary-active-outline: var(--palette-med-purple);
    --color-button-primary-disabled-bg: var(--palette-med-dark-grey);

    --color-button-link-text: var(--palette-med-purple);
    --color-button-link-hover-bg: var(--palette-lt-purple);
    --color-button-link-hover-text: var(--palette-white);
    --color-button-link-disabled-text: var(--palette-med-lt-grey-alt);

    --color-button-secondary-bg: transparent;
    --color-button-secondary-text: var(--palette-med-purple);
    --color-button-secondary-outline: var(--palette-med-purple);
    --color-button-secondary-hover-bg: var(--palette-lt-purple);

    --color-controlpanel-bg: var(--palette-dark-grey);
    --color-controlpanel-border: var(--palette-med-grey);
    --color-controlpanel-text: var(--palette-lt-grey);
    --color-controlpanel-section-bg: var(--palette-med-dark-grey);

    --color-landingpage-bg: var(--palette-very-dark-grey);
    --color-landingpage-text: var(--palette-lt-grey);
    --color-landingpage-banner-highlight-bg: #020202DB;

    --color-statusflag-bg: var(--palette-very-lt-purple);
    --color-statusflag-text: var(--palette-very-dark-purple);

    --color-layout-dividers: var(--palette-med-grey);

    --color-text-link: var(--palette-bright-blue);
    --color-text-header: var(--palette-lt-grey);
    --color-text-body: var(--palette-lt-grey);
    --color-text-selection-bg: var(--palette-med-purple);
    --color-text-selection-text: var(--palette-white);

    --font-family: 'Open Sans', Arial, sans-serif;

    h1, h2, h3, h4, p {
        font-family: var(--font-family);
    }

    h1 {
        color: var(--color-text-header);
        font-size: 28px;
        font-weight: 400;
    }

    h2 {
        color: var(--color-text-header);
        font-size: 19px;
        font-weight: 400;
    }

    h3 {
        font-family: var(--font-family);
        color: var(--color-text-header);
        font-size: 16px;
        font-weight: 600;
    }

    p {
        font-family: var(--font-family);
        color: var(--color-text-body);
        font-size: 14px;
        font-weight: 400;
    }

    a {
        color: var(--color-text-link);
        &:focus-visible {
          text-decoration: underline;
        }
    }

    & *::selection {
        /** 
         * Override Ant + Less styling, since it uses a very light purple that's 
         * impossible to read white text on.
         * TODO: Fix this in the main app too. This currently only applies to landing page.
         */
        background-color: var(--color-text-selection-bg);
        color: var(--color-text-selection-text);
    }


    /* TODO: Remove this when we upgrade to Ant versions that provide support for
     * ConfigProvider. 
     */
    .ant-btn-primary {
        background-color: var(--color-button-primary-bg);
        color: var(--color-button-primary-text);
        border-color: var(--color-button-primary-bg);
        border: 1px solid transparent;
    }

    .ant-btn:hover, .ant-btn:focus-visible {
        background-color: var(--color-button-primary-hover-bg);
        border-color: var(--color-button-primary-hover-bg);
    }

    .ant-btn:active {
        border: 1px solid var(--color-button-primary-active-outline);
    }

    .ant-btn-link {
        color: var(--color-button-link-text);

        &:hover, &:focus-visible {
            color: var(--color-button-link-hover-text);
            background-color: var(--color-button-link-hover-bg);
        }

        &:disabled, &:disabled:hover{
            color: var(--color-button-link-disabled-text);
        }
    }
}
