@import "../../assets/styles/variables";

.channel-row {
  .tf-editor-svg {
    margin-bottom: 8px;
  }

  :host {
    display: block;
  }

  .bar rect {
    fill: var(--color-controlpanel-border);
  }

  .tick text {
    fill: var(--color-controlpanel-text);
  }

  .axis path,
  .axis line {
    stroke: var(--color-controlpanel-border);
  }

  rect {
    fill: none;
    pointer-events: all;
  }

  .line {
    stroke: $light-gray;
    stroke-width: 1.5px;
  }

  circle {
    fill-opacity: 0.6;
    cursor: move;
    stroke: $light-gray;
    stroke-width: 1.5px;
  }

  .selected {
    fill: white;
    stroke: white;
  }
}
