@import "../../assets/styles/variables";

.channel-row {
  .tf-editor-svg {
    margin-bottom: 8px;

    &.dragging {
      cursor: move;
    }
  }

  .tf-editor-popover {
    position: absolute;
    z-index: 9999;
  }

  .tf-editor-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  rect.bar {
    fill: var(--color-controlpanel-border);
  }

  .tick text {
    fill: var(--color-controlpanel-text);
  }

  .axis path,
  .axis line {
    stroke: var(--color-controlpanel-border);
  }

  rect {
    fill: none;
    pointer-events: all;
  }

  .line {
    stroke: $light-gray;
    stroke-width: 1.5px;
  }

  .ramp-sliders {
    path {
      fill: var(--color-controlpanel-ramp-slider);
    }

    line {
      stroke: var(--color-controlpanel-ramp-slider);
    }
  }

  circle {
    fill-opacity: 0.6;
    cursor: move;
    stroke: $light-gray;
    stroke-width: 1.5px;

    &.selected {
      fill: white;
      stroke: white;
    }
  }
}
