@import "../../assets/styles/variables";

.channel-row {
  :host {
    display: block;
  }

  .bar rect {
    fill: $border-color;
  }

  .aligned {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .tick text {
    fill: $text-gray;
  }

  .axis path,
  .axis line {
    stroke: $border-color;
  }

  button::-moz-focus-inner {
    border: none;
    padding: 1px 2px;
  }

  input[type="color"] {
    border: 1px solid;
    width: 44px;
    height: 23px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px 2px;
    cursor: pointer;
  }

  rect {
    fill: none;
    pointer-events: all;
  }

  .line {
    stroke: $light-gray;
    stroke-width: 1.5px;
  }

  circle {
    fill-opacity: 0.6;
    cursor: move;
    stroke: $light-gray;
    stroke-width: 1.5px;
  }

  .selected {
    fill: "white";
    stroke: "white";
  }
}
