.viewer-metadata-table {
  width: 100%;
  table-layout: fixed;

  tbody {
    padding: 10px;
  }

  /* On the top nest level, the top border is given by the panel header, and the bottom by the containing table */
  &.metadata-top-level {
    border-bottom: 1px solid #6e6e6e;

    > tbody > tr.metadata-row-collapse-title:first-child {
      border-top: none;
    }
  }

  /* ----- TABLE ROWS ----- */
  tr {
    &:nth-child(odd):not(.metadata-row-collapse-content) {
      background-color: #3a3a3a;
    }

    /* CATEGORY TITLE */
    &.metadata-row-collapse-title {
      color: white;
      background-color: #4b4b4b !important;

      /* Keeps borders aligned when this category opens and closes */
      &:not(.metadata-collapse-collapsed) > td {
        padding-bottom: 5px;
      }
    }

    /* CATEGORY CONTENT */
    &.metadata-row-collapse-content.metadata-collapse-collapsed {
      visibility: collapse;
      height: 0px;
      display: none;
    }

    /* ROW BORDERS: all categories have top borders; any row which follows a category provides its bottom border */
    tr.metadata-row-collapse-title,
    &.metadata-row-collapse-content + tr {
      border-top: 1px solid #6e6e6e;
    }
  }

  /* ----- TABLE CELLS ----- */
  td {
    padding: 6px 0;
    overflow-wrap: break-word;

    .metadata-collapse-caret {
      cursor: pointer;
      padding-left: 16px;
      padding-right: 10px;
    }

    &.metadata-key {
      padding-left: 16px;
    }

    &.metadata-value {
      text-align: right;
      padding-left: 20px;
      padding-right: 16px;
    }

    &:last-child {
      padding-right: 8px;
    }

    &.metadata-collapse-content {
      padding: 0;
      padding-left: 24px;
    }

    i {
      transition: transform 0.1s linear;
    }
  }
}
